[2020-01-16 09:04] Misiu commented on #118
@suds32 is this still an issue?

[2020-01-16 09:13] Misiu opened #153 "Add slate bot"
There are more and more issues in this repo, but some of them are old and probably fixed in recent releases.
I propose to add [slate bot](https://github.com/marketplace/stale), [here is the config](https://github.com/home-assistant/home-assistant/blob/dev/.github/stale.yml)  that HA is using
This way issues that don't have specific labels and don't have any activity will get automatically closed.

[2020-01-16 09:27] hakana commented on #118
@Misiu , Thanks helping clean up!

[2020-01-16 09:29] Misiu commented on #153
@hakana slate bot will help you out 🙂 take a look at linked config in Home Assistant repo.
This bot is free to use and it has the functionality to inform all participants that the issue will get closed after a specific number of days.

[2020-01-16 09:31] hakana commented on #153
Yes I will do that later.

[2020-01-16 09:49] hakana commented on #150
Yes, I will try to find a solution to this. If anyone knows how to do this in the latest version please let me know.

[2020-01-16 09:52] hakana commented on #152
Voltage is not supported right now, I change this to a [Feature request]

[2020-01-16 10:00] hakana commented on #142
Try to run this CoAP monitor and see if you can see the status change there:

[code]

In the end of the line you see something like this:
```{"G":[[0,111, 24],[0,121, 1],[0,131, 1],[0,141, 0]]}```
131 and 141 normally shows the switches status

[2020-01-16 10:17] hakana commented on #129
You can set the zone for each device for your self.

I don't understand your question?

[2020-01-16 10:18] #146 closed

[2020-01-16 10:22] hakana commented on #138
Can you do a netstat on it?

[2020-01-16 10:25] benv666 commented on #142
Interesting!
So I started the monitor looking for the Shelly 2.5 at the same time as I started listening for the click event in the developer console.
I saw a few events on the coap monitor arrive with nothing happening in the HA Developer console
[code]
Then out of the blue a whole bunch of the events trigger, see this pastebin:
https://pastebin.com/raw/Ym1DLz1q

Went back to the coap monitor, wh

[2020-01-16 10:25] hakana commented on #127
I can't help with this. This is not an issue of this plugin.

Please install HACS and it will take care of setting up it correctly.

[2020-01-16 10:25] #127 closed

[2020-01-16 10:28] chemelli74 commented on #133
Hi, unfortunately I still have some issue son 0.1.6b6:

![image](https://user-images.githubusercontent.com/57354320/72517222-43411080-3853-11ea-9e06-f3e08668c833.png)

Simone

[2020-01-16 10:30] chemelli74 commented on #137
After 12 hours of 0.1.6b6 I cannot see the isuse again.

I wait a few more hours and then I'll close the issue.

Simone

[2020-01-16 10:30] #145 closed

[2020-01-16 10:37] chemelli74 commented on #138
Hi, current situation with a lot of TIME_WAIT but so far is all working. I bet that when ShellyForHASS report the issue, there would be a lot more unfinished sessions:

![image](https://user-images.githubusercontent.com/57354320/72517946-8c459480-3854-11ea-94c2-a46c152b27cd.png)

Simone

[2020-01-16 10:55] hakana commented on #142
What will the /status show?

[2020-01-16 10:56] hakana commented on #142
The CoAP 118 and 128 show that both switches are in status off

[2020-01-16 11:27] hakana commented on #133
Can you turn on the debug log on pyShelly. It will generate lots of logs, but there is a message "POST to Shelly Cloud" that will be sent each time it connects to the Cloud. I need to know if connecting to the cloud more than every second.

[2020-01-16 11:28] hakana commented on #133
Are you running anything else that using the Shelly cloud_token?

[2020-01-16 11:33] chemelli74 commented on #133
Nope, only your great plugin. And the iOS mobile app integrated with Alexa but I don't think it count ;-)

Simone

[2020-01-16 11:38] chemelli74 commented on #129
Sorry, I misunderstood. I was expecting the plugin to get automatically Area from Cloud.

Simone

[2020-01-16 11:40] chemelli74 commented on #133
Seems you do a POST for each device, thus a lot more than every second.
Just restarted HA:

[code]

Simone

[2020-01-16 11:49] hakana commented on #129
Yes, I will probably add a setting for this and create areas for each room.

[2020-01-16 11:49] #129 closed

[2020-01-16 11:51] hakana commented on #133
As I can see it not more than every 3 seconds? If you got the error about Request limit reached again have a look there and see how it send the POSTs.

[2020-01-16 12:19] benv666 commented on #142
The -switches- are indeed off right now, but the inputs are not (one is off and one is on). Note that I'm not using the switches as on/off but as edge inputs or detached depending on the shelly. This specific one is configured as edge switch.
Output of the current /status here: https://pastebin.com/raw/DxaWYXRJ

[2020-01-16 12:58] vistalba commented on #150
That would be awesome :)

I just see that HA now shows that "funny" entity.

So after update, you've to wait until it recognize the entity by ShellyforHass.
If you now restart.. it looks like it keeps the entity. (Screenshot)

![image](https://user-images.githubusercontent.com/12324196/72527025-19deaf80-3868-11ea-8a81-a8add43d3bae.png)

So I think it would be enought to just write back the last va

[2020-01-16 13:16] chemelli74 opened #154 "Use "serial" attribute to limit DB entries"
Hi,

based on a very quick check of the code, seems that shelly_http_get() always store the answer in the DB.
I would propose to store and check the "serial" attribute to validate if something changed; if not data pulled should be discarded and not stored in the DB.

The smaller the DB of HA is the better it works (history, logbook, restart, etc.).

Simone

[2020-01-16 14:49] chemelli74 commented on #133
Hi,

here the log, 1 entry in 3 hours:
[code]

Simone

[2020-01-16 15:36] dodg3r opened #155 "Use as light switch in integration"
Hi.

Is it possible to get an option in the integration page to use shelly plugs as lights ?
I know I can do this by using light_switch: true i yaml but it would be rather nice having it in the integrations page :)

Thanks for all the great work !!

[2020-01-16 15:37] hakana commented on #155
I will check this

[2020-01-16 17:11] rogervdf opened #156 "Cover in integration"
On current pre-release, activating a scene through the integration on a cover gives:

Failed to call service scene/turn_on. value must be at most 100 for dictionary value @ data['position']

[2020-01-16 18:32] chemelli74 commented on #133
So far, 7 hours, I got 3 errors:

[code]
Simone

[2020-01-16 18:33] chemelli74 commented on #137
Log is clean.
I confirm bug is fixed.

Simone

[2020-01-16 18:33] #137 closed

[2020-01-16 19:10] Stefan300381 commented on #121
the same?

`2020-01-16 20:07:47 ERROR (CoAP) [pyShelly] Error receiving CoAP UDP, 'charmap' codec can't decode byte 0x8d in position 158: character maps to <undefined>, Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/pyShelly/coap.py", line 165, in _loop
    payload = s(data[pos + 1:])
  File "/usr/local/lib/python3.7/site-packages/pyShelly/compat.py", line 23, in

[2020-01-17 09:32] Erates commented on #143
How do I do this? I've tried
[code]

But that only gives an error stating 'current_position' is invalid.

[2020-01-17 12:29] hakana commented on #143
https://www.home-assistant.io/integrations/template/

[2020-01-17 12:35] hakana commented on #143
By the way, why do you need this?

[2020-01-17 12:46] Erates commented on #143
Ow, let me try that.

Why I need this? I don't need-need it, I could use work-arounds, but that would involve more (dirtier) code/config.
But then again, why not add it..? There are multiple attributes being exposed as sensors, why not this one?

I started using this plugin for the ease of use, because otherwise I would have to configure a bunch of sensors/covers manually.

I would write it myself

[2020-01-17 12:55] hakana commented on #143
I mean what you using it to in your setup, is it for viewing a slider in GUI or automation rules?

[2020-01-17 13:01] Erates commented on #143
For automation

I thought about using the cover's state, but it will go to 'open' when the current position > 0. The problem is that my covers have some slack in them. Between 0% and 30% the covers are all the way down, but they let light through (it opens some small dashes in between the segments).

[2020-01-17 13:14] hakana commented on #133
Yes, I have reported this to Shelly, look like there is a problem with there API server

[2020-01-18 17:33] urbozz opened #157 "Voltage Sensor not presented"
I am able to see the supply voltage on my Shelly 2.5 in its web interface. Would it be possible to present this value to home assistant?

[2020-01-18 18:51] gerard33 commented on #84
I have a Shelly dimmer and when pressing button 2 it only shows up as an event under `shelly_switch_click` if I press the button (which is a momentary switch) for a few seconds (minimum of 5 seconds). When just pressing the button once or double clicking, this doesn't show up as an event.
I am running HA on an Intel NUC i3, so it's powerful enough and HA has the right sensor -> `sensor.shelly_shdm

[2020-01-19 07:26] filmgarage commented on #129
Cool. This works fine for me. However, I do not see the manufacturer and model info in the device list (not very important but can be useful at times...)
I must say that the term ‘ZONE’ is a bit confusing for me. I don’t understand the logic of Home Assistant. I guess ‘ROOM’ would be a better description. (I am aware that you can’t change that. ;-)
If you decide to synchronize with the Shelly App

[2020-01-19 18:42] fpalinf opened #158 "Slow update of lovelace card (CoAP not working)"
Hello,

With all the shelly switch I use (light, 2.5, led) when I switch on or off the shelly actually switches but the update of the visual indication on lovelace takes sometimes 1 minute.

I would be happy to provide debug log if of any help.

[2020-01-19 18:46] chemelli74 commented on #133
Hi, for your reference:

[code]

Simone

[2020-01-19 21:02] Malvaggio commented on #125
You need to change

STATUS_RESPONSE_METERS = 'meters'  to  STATUS_RESPONSE_METERS = 'emeters'
on line 21 of pyShelly/pyShelly/const.py

[2020-01-19 22:29] #92 closed

[2020-01-20 07:30] pilot1981 commented on #125
@Malvaggio you wrote to developer @StyraHem @hakana ?

[2020-01-20 12:48] filmgarage opened #159 "Adding Shelly to Scenes"
When adding a shelly to a scene all settings of the shelly get included like wifi info, uptime etc.

It should only save the changeable settings of the device like 'state'.
Is it possible to facilitate this through the plugin? Or does the HA system need to be changed for this to be saved correctly?

Currently it gets saved like this:
[code]

Correctly would be:
[code]

[2020-01-20 15:25] Malvaggio commented on #125
@pilot1981 Yes i sent a PM yesterday

[2020-01-21 00:35] ericfesta commented on #125
@hakana I tested in release 0.1.6.b6 but still not working.

[2020-01-21 07:24] chemelli74 commented on #138
Hi,

after upgrading HA from 0.103.0 to 0.104.1 I cannot see the issue anymore.
Since more than 4 days are passed, I close the issue.

Simone

[2020-01-21 07:24] #138 closed

[2020-01-21 07:35] chemelli74 commented on #136
Hi again,

I did a test to recheck the issue.
Here steps and findings:

- connect a "Plug S" in the wall
- wait ShellyForHASS to discover
- everything is loaded in lovelace and values are updated
- unplug the device from the wall
- after a while you get "time out" and after "host is unreachable" in log (debug level)
- wait for some minute and checck lovelace: device is still active

We should trig

[2020-01-21 07:47] chemelli74 commented on #123
@paparapapapapa , you still have this issue with 0.1.6b6 ?

Simone

[2020-01-21 08:00] chemelli74 commented on #121
@Stefan300381 , which version of the plugin are you running ?

Simone

[2020-01-21 08:04] chemelli74 commented on #158
@fpalinf , please report back which version of the plugin you are using and attach the debug log. Also take a screenshot of the device details in lovelace (the card that open when you click on it).

Thank you,

Simone

[2020-01-21 08:06] chemelli74 commented on #159
@filmgarage, I think this is the normal behaviour of HA, not something specific to this plugin.
Can you check in HA community and report back ?

Thank you,

Simone

[2020-01-21 09:08] fpalinf commented on #158
Plugin version: 0.1.5 (the newest in HACS)
Where can I find the debug logs ?

It actually always update but it is not instantenously.
All card using a shelly updates together at the same time regardless when they were activated.
It seems like a batch update.

Object linked with MQTT or  - platform: flux_led update instantenously.

<img width="359" alt="Screenshot 2020-01-21 at 09 58 42" src="https

[2020-01-21 10:15] chemelli74 commented on #158
Hi,

I see you did a discovery by IP-address.
Would be possible to do a automatic discovery using CoAP ?
IIRC this is the only way to get istantaneous update, otherwise update is a polling every 60 seconds.

To actrivate debug log you have to add those lines to configuration.yaml:

[code]
Log file is "home-assistant.log" in your config folder

Simone

[2020-01-21 10:16] chemelli74 commented on #156
@rogervdf , can you post your configuration.yaml, log file and screenshot of the lovelace UI ?

Thank you,

Simone

[2020-01-21 10:24] chemelli74 commented on #150
IMHO it's something to do with HA, not with ShellyForHASS.
Infact the plugin doesn't store any value anywhere other than in the DB.
If you click on the entity I'm sure you wil lsee thehistory of the sensor and the temperature values.
But the card in the main display ( the one that you screenshotted) shows current values and nothing else.
So HA is working by design.

Simone

[2020-01-21 10:25] chemelli74 commented on #128
@vistalba , please test with HA >= 0.104.0 as there entities are now cached.

Simone

[2020-01-21 10:26] chemelli74 commented on #147
@astrandb , can you be so kind to post a screenshot and your confioguration.yaml ?

Thank you,

Simone

[2020-01-21 10:32] morph027 commented on #147
Similar here....looking at the config, this might be related to my list of sensors. Will try without it.

![Screenshot from 2020-01-21 11-31-08](https://user-images.githubusercontent.com/600106/72797524-8fb89180-3c41-11ea-88a0-d7a50d464ccc.png)

[code]

[2020-01-21 10:35] chemelli74 commented on #39
@genem2 , did you upgrade to latest fw (v1.5.7) ? IS the issue fixed ?

Simone

[2020-01-21 10:39] chemelli74 commented on #52
Working for me since 0.1.3b1.

@woody4165 is that true also for you ? If so can you please close the issue ?

Simone

[2020-01-21 10:40] chemelli74 commented on #75
@jeroenvdwaal, can you please retest with 0.1.6b6 ?

Thank you,

Simone

[2020-01-21 10:41] chemelli74 commented on #80
@hk-ret , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:42] chemelli74 commented on #81
@CiquattroFPV , can you please retest with 0.1.6b6 ? Please update firmware to latest version as well.

Thank you,

Simone

[2020-01-21 10:43] chemelli74 commented on #79
, can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.
Please share also a screenshot of the device details in lovelace.

Thank you,

Simone

[2020-01-21 10:46] chemelli74 commented on #83
@uspino2 , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:47] chemelli74 commented on #86
@vincenzosuraci , @mospring, , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:47] chemelli74 commented on #96
@peterbuga , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:48] chemelli74 commented on #97
@Puntoboy, @joriskalz , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:49] chemelli74 commented on #100
@Kranzy, @genem2, can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:50] chemelli74 commented on #102
@giovi321 , issue is then fixed ? Can you please close it ?

Thank you

Simone

[2020-01-21 10:51] chemelli74 commented on #106
@wifi75 , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:52] chemelli74 commented on #118
@suds32, , can you please retest with 0.1.6b6 ? Please post your configuration.yaml as well.

Thank you,

Simone

[2020-01-21 10:52] mospring commented on #86
I could solve the issue for me setting ORBI to the Router mode (not Access Point Mode).

[2020-01-21 10:53] chemelli74 commented on #119
@bjornta, can you please retest with 0.1.6b6 ? Please update firmware to latest version as well.

Thank you,

Simone

[2020-01-21 10:55] chemelli74 commented on #117
@elmigbot , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:56] chemelli74 commented on #116
@notrix , can you please retest with 0.1.6b6 ? Please update firmware to latest v1.5.7 as well.

Thank you,

Simone

[2020-01-21 10:58] chemelli74 commented on #157
Duplicate of #107

Simone

[2020-01-21 11:04] chemelli74 commented on #130
@luckyzor , works fine here with 0.1.6b6. Can you retest please ?

Simone

[2020-01-21 11:06] morph027 commented on #147
Nope, no difference.

Logs:

[code]

[2020-01-21 11:09] bjornta commented on #119
I installed 'master' branch through HACS. What's the safest way to upgrade to beta without losing my device IDs?

[2020-01-21 11:10] vistalba commented on #150
@chemelli74 Yes... the entities are cached now (0.140.2) but only in history. After a restart there is just "not available" until the sensor reports a value next time.

[2020-01-21 12:04] fpalinf commented on #158
Ok, I manage to setup logs thank you.

Without discovery IP-addr the devices are found by mDNS. No shelly are discovered by CoAP.
If CoAP is the only way to have instantaneous update then I will investigate the network issue.

To give you more insight:
My hassio is running in docker on ubuntu alongside other containers.
The ubuntu runs on a machine with two interfaces with an ip addr on each if (w

[2020-01-21 12:08] fpalinf commented on #158
In parralel, wouldn't it be possible to use CoAP for the shelly without the automatic CoAP discovery ?

[2020-01-21 12:40] astrandb commented on #147
@chemelli74
My configuration is extremely simple
[code]
The entity card looks like this:
![DW1](https://user-images.githubusercontent.com/5016010/72804979-18d7c480-3c52-11ea-8f90-c19d6013507e.png)

![DW2](https://user-images.githubusercontent.com/5016010/72804986-1d03e200-3c52-11ea-8614-07f02539a2b4.png)

There is no temperature sensor in the device and thus temperature should not be displayed in

[2020-01-21 13:24] astrandb commented on #150
@hakana I found this after some googling around: [https://aarongodfrey.dev/programming/restoring-an-entity-in-home-assistant/](url)

[2020-01-21 13:36] chemelli74 commented on #119
Please enable "beta" on HACS and then download 1.0.6b6.
Also don't forget about latest firmware for the device.

Simone

[2020-01-21 14:30] Stefan300381 commented on #121
@chemelli74
meanwhile 0.16 beta 6
but still such messages in the log:

[code]

[2020-01-21 14:39] chemelli74 commented on #121
@Stefan300381 can you please enable debug log for pyshelly ?
Which version of HA are you running ?

Thank you

Simone

[2020-01-21 14:51] chemelli74 commented on #121
Seems it's a decoding issue based on the default code page used by your Python installation: https://stackoverflow.com/a/58771838

Will ask author if CP can be forced by code.

Simone

[2020-01-21 15:07] Stefan300381 commented on #121
@chemelli74

docker container 0.104.0

[2020-01-21 15:57] chemelli74 commented on #121
@Stefan300381 please share debug log.

Thank you

Simone

[2020-01-21 16:17] Stefan300381 commented on #121
I'm new to hass, can you explain how to enable debug log in the docker container?

[2020-01-21 17:37] bjornta commented on #119
Looks good now. No clutter, at all, in the log.

Upgraded all Shelly1 to latest firmware. H&T did not want to upgrade, still running december-fw. Neither did the plug.

Upgraded HA from 103.6 to 104.3 while I was at it. Had to reboot a couple times to all integrations running.

logger-config:
   default: warning
   logs:
     homeassistant.core: error

After running for 15 minutes, before H&T call

[2020-01-21 18:35] suds32 commented on #118
All good now thanks

[2020-01-21 20:19] Misiu commented on #118
@suds32 if everything works please close this issue. Thanks

[2020-01-21 21:20] #118 closed

[2020-01-21 21:20] suds32 commented on #118
all sorted

[2020-01-21 21:43] #159 closed

[2020-01-21 21:47] chemelli74 commented on #121
Open docker->container->homeassistant->details->terminal->bash

Then edit /config/configuration.yaml adding those lines:

[code]

Simone

[2020-01-21 21:49] hakana commented on #158
You can try to install the latest beta (6) and set the parameter host_ip and see if that helps to get CoAP to work.
[code]

[2020-01-21 21:52] hakana commented on #107
Will be added to next version

[2020-01-21 21:52] #157 closed

[2020-01-21 22:06] hakana commented on #154
The serial updates often so that will not change anything. I think the problem is the uptime counter, maybe we should drop that. But the best is if we analyze what is written to the database and when.

[2020-01-21 22:07] hakana commented on #151
Will be fixed in beta 7

[2020-01-21 22:42] fpalinf commented on #158
I just switched to master beta 7 and add host_ip
Major improvement in shellies speed detection.
Shellies are now: discovery CoAP-discovery

But still the problem is there:
Light is ON, Card is ON.
I press the card and the card goes OFF and the light goes OFF.
[code]

But the card immediately goes back ON

Till the next poll check:
[code]
Then card goes back OFF (which is the correct state of the l

[2020-01-21 23:33] Kranzy commented on #100
Just updated and so far no errors appearing in log. Will let you know if it comes back. Will leave it open for @genem2 to respond.

[2020-01-21 23:54] genem2 commented on #100
Thanks for the ping on this.  Since the last post I made here, and letting things go, I just realized the errors stopped for me. Not sure I have an explanation.

I checked my RGBW2 and saw the firmware was already at 1.5.7
I updated my shelly folder with your 0.1.6 (Beta 7)
Updated my Docker to 104.3 and restarted everything,

No issues here; all looks good. Thanks.

[2020-01-22 01:08] htpbreewel opened #160 "Shelly's, Synology, Docker, Homeassistant"
I use a Synology NAS running HA in a Docker container. See the BeardedTinker series on Youtube.
Everything works fine until I apply the ShellyForNas solution for my Shelly's. The Shelly's work but the volume usage of the NAS goes from 4% to 98% and makes the NAS very slow. When I delete the ShellyForNAS components the volume usage is 4% again.
Do you have any comments?

[2020-01-22 04:35] #100 closed

[2020-01-22 06:40] #86 closed

[2020-01-22 06:41] #119 closed

[2020-01-22 06:42] #117 closed

[2020-01-22 06:45] chemelli74 commented on #147
Hi, should be fixed in 0.1.6b7. Can you test and report ?

Simone

[2020-01-22 06:48] chemelli74 commented on #160
@htpbreewel , I'm on the same setup as you.  I don't have such behaviour. How many devices are configured in Shelly ? Do you have debug log active ? Any error in log ?

Simone

[2020-01-22 06:55] chemelli74 commented on #108
@wifi75 did you manage to get it working ?

Simone

[2020-01-22 06:58] chemelli74 commented on #69
@goliath2k , @Misiu , @diego065 can you test with latest plugin 0.1.6b7 and latest firmare v.1.5.7 ?

Thank you,

Simone

[2020-01-22 07:04] chemelli74 commented on #61
@Limych I think you are refering to "consumption" value as there is no attribute "energy".
Please check at http://x.x.x.x/status.

Requested attribute is pulled since a while.

Simone

[2020-01-22 07:08] #32 closed

[2020-01-22 07:10] chemelli74 commented on #25
@GrtDlks, @Senbei123 can you retest with 0.1.6b7 and latest firmware ?

Thank you,

Simone

[2020-01-22 07:12] #70 closed

[2020-01-22 07:15] chemelli74 commented on #77
@uaparac , @Kedryn can you retest with 0.1.6b7 and latest firmare ?

Thank you,

Simone

[2020-01-22 07:18] #94 closed

[2020-01-22 07:20] chemelli74 commented on #98
Hi @Kedryn, can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:22] chemelli74 commented on #103
@Kedryn , can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:24] chemelli74 commented on #109
@Kedryn ,@wifi75 can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:25] chemelli74 commented on #110
@gurkburk76 , @Wieringerwerf can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:26] chemelli74 commented on #111
@drash1, @Baumtreter can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:28] chemelli74 commented on #112
@rogervdf , @craigrallen can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:30] chemelli74 commented on #114
@Kranzy , can you retest with 0.1.6b7 and update to latest firmware 1.5.8 as well ?

Thank you,

Simone

[2020-01-22 07:40] Misiu commented on #158
So host IP is my Home Assistant IP, not my router IP? Just asking to be sure.

[2020-01-22 07:42] hakana commented on #158
Yes it is the HA's IP, it is used to select the interface of the device if it is multiple.

[2020-01-22 07:46] craigrallen commented on #112
Just flashed the one of the two units, update not showing available for the Shelly2 via their app. Updated to beta and it works a treat. Love that it shows as a full integration. Have to say great work, really think you've nailed it. I'll test more thoroughly and feedback any bugs, but you've genuinely made the plugin excellent.

[2020-01-22 07:47] Baumtreter commented on #111
Hi Simone! Thanks for your support. I would try it but it seems that the new firmware isn't rolled out yet here in Germany 🤔

[2020-01-22 08:15] morph027 commented on #147
Thanks....i've updated but i'm not home right now, so the sensor is sleeping. Will test tonight.

[2020-01-22 08:28] chemelli74 commented on #95
@Klagio, please retest with 0.1.6b7.

Thank you,

Simone

[2020-01-22 08:36] chemelli74 commented on #151
Confirm fixed in 0.1.6.b7

Thank you,

Simone

[2020-01-22 08:36] #151 closed

[2020-01-22 09:06] luckyzor commented on #130
I still have the same issue with 0.1.6b6

[2020-01-22 09:08] hakana commented on #130
@luckyzor How is the shelly part in config.yaml look like?

[2020-01-22 09:49] luckyzor commented on #130
`shelly:
  devices:  #configure devices
    - id: E5A1EE-1
      light_switch: true
      name: "Living room side lights"
    - id: E5A1EE-2
      light_switch: true
      name: "Living room center lights"`

Only have this in my config

[2020-01-22 10:18] hakana commented on #130
[code]

[2020-01-22 10:23] luckyzor commented on #130
It worked.
It's a new config with hacs? because before I had the old hacs and it worked fine.

Thank's for your help

[2020-01-22 11:13] #130 closed

[2020-01-22 11:15] chemelli74 commented on #154
Hi,

seems serial change only if a real value/status change not if the only change is the uptime.
Can you verify if this is the case also on your side ?

Thank you,

Simone

[2020-01-22 11:17] Kranzy commented on #114
Just tested with Dimmer on 1.5.8 and 0.1.6b7 and using transition in light.turn_on when changing from 10% brightness to 100% and transition had no effect.

[2020-01-22 11:20] Kranzy commented on #114
no update for RGBW2 firmware yet.

[2020-01-22 11:26] chemelli74 commented on #114
Thx for testing. Updated issue label.

Simone

[2020-01-22 11:30] chemelli74 commented on #22
@gaggio, @ispiropoulos, @jotacor, can you retest with 0.1.6b7 and latest firmware v1.5.9 as well ?

Thank you,

Simone

[2020-01-22 11:32] chemelli74 commented on #23
@rufik, @ tofuSCHNITZEL, can you please recheck with 0.1.6b7 ?

Thank you,

Simone

[2020-01-22 11:34] chemelli74 commented on #39
Hi,

anyone with RGBW2 that can test using latest firmware ?
Thank you,

Simone

[2020-01-22 11:38] astrandb commented on #147
It seems to work as intended now. I have problems with slow updates but I dont think it is an issue with this integration as I see the same phenomenon in the web interface on the SHDW.
Thank you @hakana for the quick response on this issue. I can see that a lot of changes where needed to introduce the binary sensor.

[2020-01-22 11:38] #147 closed

[2020-01-22 11:48] xaviml commented on #110
Hi @chemelli74,

I confirm that with the 0.1.6b7 now I see device_temp, but I do not see the power usage. In my configuration.yaml I have `shelly:` and this is what I see on the light attributes:
![Screenshot from 2020-01-22 12-46-04](https://user-images.githubusercontent.com/3974003/72891811-5fdabe00-3d15-11ea-9418-474d62e7321f.png)

[2020-01-22 11:50] hakana commented on #110
You need to add:
[code]

[2020-01-22 11:57] xaviml commented on #110
Sorry, I didn't check under the `sensor` domain. Now I see a new sensor with power consumption. Thanks for the awesome work!

[2020-01-22 12:07] #110 closed

[2020-01-22 12:30] genem2 commented on #39
Sorry for the delay in responding.
I don't think they want to expose the power in Cloud mode.

[code]

[2020-01-22 12:37] tofuSCHNITZEL commented on #23
installed it now. will get back to you.

[2020-01-22 12:45] chemelli74 commented on #132
@rufik, @ itayraviv, can you please update to a current HA version ( > 0.10.4.0 ) and to latest 0.1.6b7 version of this plugin are retest ?

Thank you,

Simone

[2020-01-22 15:07] hakana commented on #154
I don't know what trigged the serial but when I did a relead of status page the serial update every 5 sec. Maybe it was because of power change or simular.

[2020-01-22 15:44] hakana commented on #114
I think I saw something about it should be supported by Shelly but when checking the Shelly API I can't find anything. Does anyone know if there is support for this?

[2020-01-22 15:55] herik63 commented on #152
Many thanks for the support!

[2020-01-22 16:02] faberix76 commented on #152
Thanks!!!

[2020-01-22 16:18] htpbreewel commented on #160
In my Synology NAS I uninstalled Docker and everything in it. Started
from scratch and installed only Docker and HA. Same 100% volume load.
I have 2 Shelly Plug-S, 1 Shelly-2.5 and 1 Shelly-1 and disconnected
them all from the mains and reconnected them one by one and restarted HA
after every reconnect.
The Shelly-2.5 caused the problem. Without this one the volume load was
normal.
I did a factory

[2020-01-22 17:41] dodg3r commented on #158
Hi.

@fpalinf, Is your problem like this ?

The left window is my prod hassio and the right window is my fresh install of a dev instance.

https://1drv.ms/v/s!AgZRSIF72Mnv5W6_-lcOemSxaISx?e=UrIRI4

[2020-01-22 18:25] Tom7320 commented on #119
Seems to work! I'm looking forward for the final release! THX a lot!

[2020-01-22 18:30] fpalinf commented on #158
Hi @dodg3r Yes exactly.

[2020-01-22 19:30] dodg3r commented on #158
Do you use slider-entity-row addon to entities cards ?

[2020-01-22 19:47] chemelli74 commented on #160
Thx for the feedback,

Simone

[2020-01-22 19:47] #160 closed

[2020-01-22 20:17] fpalinf commented on #158
@dodg3r No I do not.
What is the difference between your prod and dev installation ?

[2020-01-23 05:58] morph027 commented on #147
Jip, also works for me, thank you! :tada:

[2020-01-23 07:16] dodg3r commented on #158
Hi.
A stupid question.
Have you tried to restart your computer ? Not just hass..

My dev installation is a fresh install with only hacs and shelly for hass installed.
I will try to explain. I´m from Sweden and my english isnt that good so I hope you understand.

From the beginning:
Months ago I replaced my rasp with at hp proliant server with linux and docker.
I only used z-wave devices and everyt

[2020-01-23 08:13] rogervdf commented on #156
So all devices are now on 1.5.9, and I updated to beta 7, same issue though. I'm guessing it's trying to set the wrong data type.

Here is the log. The rest is all vanilla.
[home-assistant.log](https://github.com/StyraHem/ShellyForHASS/files/4101942/home-assistant.log)

[2020-01-23 08:16] rogervdf commented on #112
This seems to be fixed!

[2020-01-23 08:19] giovi321 commented on #102
Yes thanks! Issue resolved :)

[2020-01-23 10:30] chemelli74 commented on #156
@rogervdf, I don't see any line refering to this plugin. Can you please enable debug log for "pyShelly" ?

Thank you,

Simone

[2020-01-23 10:31] #112 closed

[2020-01-23 10:33] #102 closed

[2020-01-23 10:44] rogervdf commented on #156
Ok Simone, here is a log with debug enabled
[home-assistant.log](https://github.com/StyraHem/ShellyForHASS/files/4102627/home-assistant.log)

[2020-01-23 11:17] chemelli74 commented on #156
@rogervdf, I noticed a couple of things:

- since 10:41, when pyShelly debug starts, no errors recorded
- roomba integration has configuraiton issues

Can you please disable roomba integration and restart HA? Such action will clean the log and start over.

Thank you,

Simone

[2020-01-23 12:57] dodg3r opened #161 "Dimmer switches doesnt update in lovelace"
Hi.

I want to use "binary_sensor.shelly_shdm_1_xxxxxx_2_switch" on my shelly dimmer but it doesnt update i lovelace.
All of my five shelly 2.5 is working but none of my three dimmers.

Isnt dimmer switches supported ?

[2020-01-23 13:06] fverschure commented on #61
Hi Simone,
Something else in meant in this request then what you are referring to I guess:

The request is to add an energy attribute to show the consumtion of a device in **KwH.**
This could be implemented in the shelly component, but also leveraging the consuption attribute and  a calculation. In order to do so you would need to know the resolution of the consumption object to allow this to conv

[2020-01-23 13:33] chemelli74 commented on #61
Hi,

please check under HA->developer tools->states->sensor.shelly_shsw_25_xxxxxx_1_consumption:
you will find "unit_of_measurement: W".

I don't see any other value, so I bet you must to some maths in HA to get what you want. But I may be wrong.

Simone

[2020-01-23 14:33] trezor12 opened #162 "Shelly 2.5 sensors don't have upgrade switch"
Hello

Shelly 2.5 sensors don't have upgrade switch. The other shellys have it.

[2020-01-23 14:54] chemelli74 commented on #162
@trezor12 ,

I bet you didn't yet receive the new firmawre notification for those.
Can you check on the app or at  [http://my.shelly.cloud](url) ?

Thank you,

Simone

[2020-01-23 16:09] rogervdf commented on #156
Roomba does not have integration issues. Instead, it has a limitation of one user at the same time, so sometimes it errors out.

Error is still the same on roller shutter:
Failed to call service scene/turn_on. value must be at most 100 for dictionary value @ data['position']

Activating a scene does work though for a Shelly dimmer
[home-assistant.log](https://github.com/StyraHem/ShellyForHASS/file

[2020-01-23 18:50] MTrab commented on #115
Any ETA on this new release?

[2020-01-23 19:32] chemelli74 commented on #156
@rogervdf, what if you go in HA->developer tools -> states and look for the Shelly entity.
I'm interested in the value of "position"; I bet you'll find 101 or 102.

Thank you,

Simone

[2020-01-23 19:44] rogervdf commented on #156
I opened one roller shutter and closed the other. The value in position is fluctuating. Most of the time it's -1. The one that I opened shows 107 or 101 occasionally.

[2020-01-23 19:56] chemelli74 commented on #156
Was expecting something similar :-(
I think you found a firmware bug as the value should be between 0 and 100 like all percentages.

Can you post on [https://www.facebook.com/groups/ShellyIoTCommunitySupport/](url) and tag "Dimitar Dimitrov" ?

Thank you,

Simone

[2020-01-23 22:55] chemelli74 commented on #131
Fixed using 0.1.6b8

[2020-01-23 22:55] #131 closed

[2020-01-23 23:14] fiorentino77 opened #163 "WiFi signal card doesn't show rssi value"
Hi,
before all, thank you so much for this great addon!
I've installed all cards showed on this page but the last one (WiFi signal) doesn't show WiFi values of my shelly.
Any ideas?

Thanks in advance,

Alessandro

[2020-01-23 23:34] hakana commented on #163
Can you send a picture, please?

[2020-01-24 07:37] wifi75 commented on #108
hello @chemelli74 I am honest, since I had the problem I went to mqtt, I would like to go back to your custom but I am always afraid that it will happen again.

[2020-01-24 07:54] chemelli74 commented on #108
Hi @wifi75 , just let me know if you want to retest with latest build or if you prefer that we close the issue.
Thank you,

Simone

[2020-01-24 08:50] rogervdf commented on #156
Hi Simone,

So good news, I can confirm the problem is not on your end. The issue seems to be on the calibration. I have two roller shutters, in one case the calibration leads to good results and then the scene works. In the other case the calibration completes but without the desired outcome values in the embedded system. As such you can consider this 'fixed' on your end!

Thanks,
Roger

[2020-01-24 09:46] #156 closed

[2020-01-24 10:09] fpalinf commented on #158
@dodg3r Maybe you should raise this issue on Hass then with your video. By reading your story I am not sure it is related to ShellyForHASS

[2020-01-24 10:15] fpalinf commented on #158
Anybody have an idea on how I could investigate more on this issue ?

[2020-01-24 10:18] dodg3r commented on #158
Did you do a restart of your computer :)

[2020-01-24 12:36] wifi75 commented on #108
Hello, close the issue, but i wat to try new version.

[2020-01-24 13:18] GoNzCiD commented on #79
Hi @chemelli74, I have tested with 0.1.6b6 and latest 0.1.6b8. With firmware 1.5.7 and latest 1.5.8. With same results.
I've tested a 2.5 and a 1pm devices as lights. Both has the same long delay but one on turn on and other on turn off.
I can share a [video](https://www.youtube.com/watch?v=A4iVKuBAnEo). first sensor is a rest sensor updated each 5s. Second is the sensor of ShellyForHASS.

And her

[2020-01-24 13:45] chemelli74 commented on #158
Seems you all agree that the issue is not in ShellyforHASS.
@dodg3r can you install a "dev" environment, so a clean installation of HA > 104.0 and latest beta8 fro ShellyForHASS and report back ?

Simone

[2020-01-24 13:53] dodg3r commented on #158
Hi.

I did a fresh install on my newly bought rasp 4 yesterday with hassio 104.3 and shellyforhass beta8 and everything works.
The reason I commented here is because I had the exact same problem with my zwave devices.
So in my oppinion I think there is something else in the setup making these lags.

But I might be wrong.

[2020-01-24 14:39] johntdyer opened #164 "HA seems to DOS Shelly 2.5 after restart, logs flooded w/ timeouts"
After I restart everything is fine until I try to turn on a shelly 2.5.  Then all hell breaks loose and Home Assistant locks up and my logs are filled w/ these errors

[code]

and I am unable to even reach the Shelly web interface because it goes unresponsive.   I have noticed from its ping replies that its seems to be being dos'ed, my guess by these get requests I see in the logs

[code]

I have

[2020-01-24 14:45] johntdyer commented on #164
So a bit more information, it seems eventually Home Assistant does recover and so does the Shelly, but as soon as I try to interact w/ the Shelly 2.5 again ( eg turn it on or off ) the whole thing starts again and Home Assistant locks up, ping replies to the the shelly go through the roof, and the Shelly UI is unresponsive..   If I wait about 5 mins things calm down again, until I try to flip a sw

[2020-01-24 14:54] johntdyer commented on #138
I think this is the same issue I am seeing in #164

[2020-01-24 15:25] hakana commented on #79
Sounds like CoAP discovery working but you not get the status by CoAP. You can try to add the igmp_fix flag and see if that will help. It will resend the ADD_MEMBER to the router every minute, some routers need this to work.

You can also specify the scan_interval to 5 and it will poll the REST API every 5 sec, 60 sec is default.

I have also done some changes around consumption for next release (

[2020-01-24 17:08] GoNzCiD commented on #79
I have igmp_fix to true and I have tested with or without scan_interval to 5. But if I rememeber power consumption is not refreshed by scan_interval, it's right?
It takes about 10-15 secs to update when it isn't updated on on/off inmediatly.
I have enabled IGMP & IGMP proxy on asus router with merlin firm.

How I can check if I'm getting the status by CoAP. If you check the video, when switch is t

[2020-01-24 20:08] fverschure commented on #61
Hi Simone,
As mentioned earlier there is a difference in parameters send by MQTT and available via Shelly4Hass:
See below which are available in MQTT:
shellies/<model>-<deviceid>/relay/0 to report status: on, off or overpower
shellies/<model>-<deviceid>/relay/0/power to report instantaneous power consumption rate in Watts
shellies/<model>-<deviceid>/relay/0/**energy** to report amount of energy co

[2020-01-24 21:11] fiorentino77 commented on #163
Sure,
here it is:
![Cattura](https://user-images.githubusercontent.com/56383979/73104317-6ffdc380-3ef6-11ea-88c7-1abc151132ac.PNG)

[2020-01-24 21:53] hakana commented on #163
Can you see the WiFi strength if you click on the entity?

If you want the sensors you need to add it to config.yaml
[code]
See spec of different options here:
https://github.com/StyraHem/ShellyForHASS#sensors

[2020-01-24 21:55] hakana commented on #61
No there is no total in CoAP message. I will add total from /status later.

[2020-01-24 22:01] hakana commented on #79
You can use this python script to see the CoAP messages, see attribute 111 and 121 for consumption values. Some devices do not report 0 in consumption direct when turning off.

[2020-01-24 22:05] pheuzoune opened #165 "Attributes setting"
Hi,

Every sensor generated by the custom component has the full list of attributes of the device itself.

The consequence is that every time an attribute is updated, it triggers an Home Assistant event with the new full list of attrbutes. This list beeing slightly different, it triggers the full process of events handling, meaning :
 - Storing the event in database
 - Storing the new state in the

[2020-01-24 22:07] hakana commented on #165
Yes, I'm planning to do an attributes setting

[2020-01-25 06:17] janbernhardt opened #166 "Round power consumption to one decimal place"
Hi,

I love your integration. Works perfectly!
I would like to ask if you could round the power consumption value (used as an attribute and as a sensor value) to have only one decimal place. It looks strange, when sometimes the Watt value has 5 decimal digits that are not so much meaningful anyway.

Many thanks!

[2020-01-25 08:31] chemelli74 commented on #166
Hi,

just configure the following parameter:

`power_decimals`

Round power sensor values to the given number of decimals

Simone

[2020-01-25 08:34] hakana commented on #165
Fixed, will be in next beta release

[2020-01-25 08:35] vistalba opened #167 "Add Support for long DeviceID"
As announced there are some problems with deviceID.

They facing into issues because the last 6 digits from MAC addresses aren‘t unique anymore.

For all new devices in future deviceID will be the whole MAC address.

I got a test firmware - because I‘m facing into this issue with one device - from allterco. Now this device doesn‘t work anymore with ShellyForHASS.
The old entity doesn‘t get any upd

[2020-01-25 10:32] medaemon commented on #165
Thank you, I recently add 11 Shelly plug S and it causes heavy IOs and DB size increase...will try it as soon as it will be available :)

[2020-01-25 11:31] peterbuga commented on #96
@chemelli74 thanks for looking into this
as instructed (at the time of writing) i updated the shellys fw + used 0.1.6b8 of the component but the warning message is still showing up :(

it was a bit harder to catch it up with because now the component throws a lot of update INFO message but i was able to filter them out with the bellow configuration:
[code]

let me know if there's more i can do to

[2020-01-25 14:52] maverick1975 commented on #125
is possible on shelly em read voltage and current ? i have problem whit voltage at my home and i think monitor value with shelly em but only on shelly app i read voltage value
tank's

[2020-01-25 15:17] vistalba commented on #103
I run also a Shelly 1PM on 1.5.9 and there are some missing parameters:

In HA only this is visible:
[code]

For example http://shellyip/stauts get stuff like:

- meters/0/counters/[0-2]
- meters/total

[2020-01-25 16:40] hk-ret commented on #80
Dear Simone
Unfortunately the problem still exists.
I have retested with shelly `0.1.6.b8` (pyShelly `0.1.17`). I couldn't find 0.1.6b6.
The Shelly RGBW2 runs firmware version `20191216-090536/v1.5.7@c30657ba`.
The shelly configuration looks like this (1 RGBW2 and 2 Shelly-1):
[code]
And these are all the shelly entities created:
![Shellies](https://user-images.githubusercontent.com/55021191/73124

[2020-01-25 17:15] chemelli74 commented on #167
Hi @vistalba, can you report witch version if the plugin are you using ?

Thank you,

Simone

[2020-01-25 22:02] hakana commented on #80
Yes, i got same result, will be fixed in next release, beta 9

[2020-01-26 00:05] craigrallen opened #168 "kWh sensor out by factor of 10"
Hey, the new 1.6.0 beta 9 version is excellent. Keep up the great work.

Just you let you know the sensor is saying 9.78kwh used for a unit in HA, but in the shelly app the same unit (shelly 2) is reporting 978wh which is .978kWh

Also noticed the instant power consumption sensor no longer available. Only the total consumed power sensor showing. I guess there's meant to be two sensors? One that is

[2020-01-26 01:23] hakana commented on #168
Ok, thanks letting me know!

[2020-01-26 01:24] hakana commented on #80
Fixed in beta 9 just released

[2020-01-26 01:26] hakana commented on #103
Total is in beta 9 just released

[2020-01-26 01:26] hakana commented on #103
What do you need the counters for?

[2020-01-26 07:00] tomekswx commented on #168
In my case 40161.65 kWh reported by HA, 40.04 kWh reported by shellly app (correct value)

[2020-01-26 12:14] vistalba commented on #167
Version installed: 0.1.5

[2020-01-26 12:18] vistalba commented on #165
Facing into the same issue as well today. I just installed about 20 shellies last week and my DB is now huge (5,7GB). I think the reason is that history is tracked over all this and saved to DB as well.

@hakana Any ETA for new release?

[2020-01-26 12:20] vistalba commented on #103
I want to calculate the power consumption in kWh (like in Shelly cloud but local).
As I understand counter is "W/min" for the last 3 minutes.

[2020-01-26 13:01] morph027 opened #169 "1.6.0beta9: current consumption update in HA"
I'm testing 1.6.0b9 right now and besides #168 i've noticed the HA GUI is not updating the current consumption in realtime anymore (still need to check if this was the case in beta8, but im quite sure it worked).

CoAP messags are popping immediately when hitting the switch (either physical or in HA), but it takes some time to show up in HA (see the video: https://gofile.io/?c=SKpTNy)

I can see t

[2020-01-26 13:02] morph027 commented on #169
my shelly config in HA:

[code]

[2020-01-26 14:02] fiorentino77 commented on #163
Fixed! Thank you so much.
Is it possible to assign an customize icon to sensor.shelly_shsw_pm_XXXXX_consumption entities?

[2020-01-26 14:15] astrandb commented on #163
HA has a general approach to that type of customization. Please refer to:
https://www.home-assistant.io/docs/configuration/customizing-devices/

[2020-01-26 15:58] hk-ret commented on #80
I confirm that the issue is fixed in 0.1.6.b9

Thanks a lot.

[2020-01-26 17:35] hakana commented on #80
Perfect!

[2020-01-26 17:35] #80 closed

[2020-01-26 17:37] hakana commented on #163
Great, better to use HA customization for change icons.

[2020-01-26 17:37] #163 closed

[2020-01-26 17:45] hakana commented on #165
There is a beta 9 released yesterday, there you can turn off attributes. I think that it is attributes like rssi, consumtion, uptime that cause traffic.

[2020-01-26 18:21] chemelli74 commented on #167
Hi, long ID is supported since 0.1.6b7, please update.

Simone

[2020-01-26 18:26] chemelli74 commented on #133
Log clean after upgrading to 0.1.6b9.

Simone

[2020-01-26 18:26] #133 closed

[2020-01-26 18:35] chemelli74 commented on #154
Seems "serial" is not available for REST api; will be implemented in future releases.

We should think about #165 to limit DB entries.

Simone

[2020-01-26 18:35] #154 closed

[2020-01-26 18:37] chemelli74 commented on #149
@fverschure, @acirtautas, please retest with 0.1.6b9 as this latest beta should fix the issue.

Thank you,

Simone

[2020-01-26 18:50] vistalba commented on #165
I just updated to test it out.
There is an issue. My current consumption only get on value after restart HASS. This value doesn‘t change anymore. If I look at shelly itself it has changes.

Device: shelly 1pm

[2020-01-26 19:09] chemelli74 commented on #168
Hi,

can you please check http://x.x.x.x/status ?
You'll find 2 "total" values, one per channel for a Shelly 2.5.

It doesn't seems to be a factor of 10 at all.
I bet it depends on the uptime of the single unit or similar as the factor change a lot from one to another.

Simone

[2020-01-26 19:12] chemelli74 commented on #165
Do you mind test 0.1.6b8 ? Just to be sure the issue is in b9.
Thank you,

Simone

[2020-01-26 19:16] morph027 commented on #168
[code]

![Screenshot from 2020-01-26 20-14-07](https://user-images.githubusercontent.com/600106/73140396-a8c5a600-4078-11ea-94f6-6ae17ff31b12.png)

[2020-01-26 19:17] chemelli74 commented on #61
@Limych, @fverschure, attribute "total_consumption" was added to 0.1.6b9.
We are still trying to fix the math ( see #168 ) but it's there.

Can you test latest beta and report back ?

Simone

[2020-01-26 19:20] vistalba commented on #165
0.1.6b8 looks like it works.

For me it looks like value does change slower... but it changes.

[2020-01-26 19:21] chemelli74 commented on #75
Duplicate of #96

Simone

[2020-01-26 19:21] #75 closed

[2020-01-26 19:25] chemelli74 commented on #115
Hi @MTrab, please retest with latest build 0.1.6b9.

Thank you,

Simone

[2020-01-26 19:29] chemelli74 commented on #116
Since 0.1.6b7 there is a new configuration parameter:

`host_ip`

 So you can specify the network interface.
Please try and report back.

Thank you,

Simone

[2020-01-26 20:34] hakana commented on #168
FYI: The unit in HA is wrong, the value is Wh not kWh, but the calculation is correct

[2020-01-26 20:35] pheuzoune commented on #165
Hello,

Just tested out the attribute part.
It's far better, thanks a lot.

i'll see tomorrow if there's other impact as described on consumption of other.

[2020-01-26 20:37] hakana commented on #168
When you look in the app it shows the consumption for the period of the graph, 24h as default.

[2020-01-26 20:38] vistalba commented on #165
@chemelli74 / @pheuzoune

Let me know if you need some more information about config or when I should test other things.

[2020-01-26 20:39] hakana commented on #165
Is there on different Shelly devices? For me, it working as expected with consumption.

[2020-01-26 20:43] hakana commented on #167
Did you specify the long id in config.yaml?

[2020-01-26 20:46] zsbobbob commented on #61
Thanks for updating! Tested with Shelly Plug S, looks good. Is it possible to use kwh for the sensor instead of wh?

[2020-01-26 20:47] vistalba commented on #165
I have just one Shelly 1pm installed.

My configuation.yaml looks like:
[code]

[2020-01-26 21:33] hakana commented on #165
Any errors in log?

Try add the igmp_fix: True under shelly: and restart HA

[2020-01-26 21:35] vistalba commented on #165
As you can see, it is already there.
No errors in log :-(

After restart the value is NaN and then gets updated but after that it stuck on that value.

[2020-01-26 21:45] chemelli74 commented on #61
As you confirmed attribute is now there, I'll close this issue.
Please follow issue #168.

Thank you,

Simone

[2020-01-26 21:45] #61 closed

[2020-01-26 22:03] balagev opened #170 "Shelly Door/Window sensor state (open, close) cannot see"
Hello team,
I'm working on integrating Shelly DW into HASS. The first problem is that I see a lot of information from the DW (battery, mqtt connection, lux status ... etc) but I haven't seen the sensor status (open, closed).
Can you add this sensor ... or update the documentation, how do I set up this sensor?
Thanks,
Balazs

[2020-01-26 22:08] chemelli74 commented on #163
<off-topic>
@fiorentino77 Which theme are you using for your HA lovelace ?
</off-topic>

Simone

[2020-01-27 01:29] hakana commented on #170
What version of ShellyForHass do you use? Should work in latest beta release.

[2020-01-27 12:30] hakana commented on #96
Yes, I know this and will fix ett later

[2020-01-27 12:40] balagev commented on #170
Installed version: 0.1.5

[2020-01-27 12:46] hakana commented on #170
Yes, it will work in latest beta

[2020-01-27 12:46] #170 closed

[2020-01-27 18:46] vistalba commented on #169
I run into the same issue as reported here:
https://github.com/StyraHem/ShellyForHASS/issues/165#issuecomment-578531111

Some more information about my config:

https://github.com/StyraHem/ShellyForHASS/issues/165#issuecomment-578541564

It does work on 0.1.6b8 and also on current release 0.1.5.

Device is one Shelly 1pm.

[2020-01-27 22:17] notrix commented on #116
I have upgraded firmware to v1.5.9
Updated shelly component to 0.1.6b7

And it works! `host_ip` did the trick

Thank you!

[2020-01-27 22:21] #116 closed

[2020-01-27 23:01] fiorentino77 commented on #163
Darkmix theme

[2020-01-28 07:42] trezor12 commented on #162
@chemelli74

I meant, that there is existing new firmware, and possible to update shellys manually, but the HA shelly addon did not generate "upgrade switch" for 2.5 shellys. There are "upgrade switches" for my other shelly devices (1, 1PM, dimmer). The 2.5 devices are configured (maybe that is the issue) this way:

shelly:
  discovery: false
  id_prefix: ""
  show_id_in_name: false
  upgrade_swit

[2020-01-28 07:48] geronimo078 commented on #158
I have exactly the same problem. Also tried to add the host_ip but this had no effect.
Beside shelly i use only Hue and Lifx on Home assistant and they are working perfectly.

[2020-01-28 10:05] CiquattroFPV commented on #81
I have tested it but it doesn't change the state on Home assistant binary_sensor when an event is triggered.

[2020-01-28 12:39] craigrallen commented on #168
This is the status output from the shelly

`{"wifi_sta":{"connected":true,"ssid":"ASUS_90_2G","ip":"192.168.255.196","rssi":-43},"cloud":{"enabled":true,"connected":true},"mqtt":{"connected":false},"time":"13:37","serial":22,"has_update":false,"mac":"CC50E3134F0D","relays":[{"ison":false,"has_timer":false,"overpower":false,"is_valid":true},{"ison":false,"has_timer":false,"overpower":false,"is_vali

[2020-01-28 13:09] tomekswx commented on #168
I have shelly plug, in my case it is factor 1000, but i have quick fix for this:

- platform: template
    sensors:
rekuperator_total_kwh:
        unit_of_measurement: 'kWh'
        entity_id:
          - sensor.shelly_shplg2_1_xxxxxx_total_consumption_attr
        value_template: >-
          {% set vall2 = states.sensor.shelly_shplg2_1_xxxxxx_total_consumption_attr.state|float %}
          {{ (v

[2020-01-28 17:21] sti0 commented on #142
Seems the problem is fixed on Shelly firmware 1.5.8 (can't notice this problem since days).

@benv666 could you confirm?

[2020-01-29 01:41] Kranzy opened #171 "1.0.6-b9 upgrade configuration error - No components loaded"
When upgrading to 1.0.6-b9 from 1.0.6-b8 I get an error in the log below:

`ERROR (MainThread) [homeassistant.setup] Setup failed for shelly: Unable to import component`

Doing a configuration check gives me the below error:

`Component error: shelly - cannot import name 'ATTR_RESTORED' from 'homeassistant.helpers.entity_registry' (/usr/src/homeassistant/homeassistant/helpers/entity_registry.py)`

[2020-01-29 06:55] chemelli74 commented on #162
Hi @trezor12, upgrade switch will be created for id "76G2E8" and not for each channel.
Try changing your config to:

[code]
and report back.
Thank you,

Simone

[2020-01-29 07:02] chemelli74 commented on #171
Hi @Kranzy, do you mind update at least to 0.140.0 of HA ? They changed quite a lot for device caching and this may affect your setup.

Thank you,

Simone

[2020-01-29 09:32] benv666 commented on #142
I was running 1.5.7 when I first started seeing this, upgraded to 1.5.8 and later 1.5.9 when it came out last week in hope it would fix things, but it did not.

That said, today is another good day for debugging this, so I started collecting data.
We start off with this overview which I grabbed from home assistant using auto-entities with a history-graph on all my shelly *inputs* (not the relay st

[2020-01-29 09:52] astrandb commented on #162
@trezor12: Are you sure that the id of the device is "76G2E8"? "G" is probably wrong. Characters in id are normally hexadecimals 0-9, A-F

[2020-01-29 14:09] philippsandhaus commented on #171
I just had the same problem and upgrading HA to 0.140.3 solved it for me, thanks.

[2020-01-29 21:02] fverschure commented on #149
@chemelli74 : tested with b9. Errors are no longer showing in the log. Everything is still working correctly. Please close this bug.

[2020-01-29 22:17] #149 closed

[2020-01-30 00:08] Kranzy commented on #171
Upgraded to 104.3 and beta-9 with no issues. Closing.

[2020-01-30 00:08] #171 closed

[2020-01-30 14:55] chemelli74 commented on #22
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 14:56] chemelli74 commented on #23
@tofuSCHNITZEL , any feedback ?

Simone

[2020-01-30 14:56] chemelli74 commented on #25
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 14:58] chemelli74 commented on #52
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 14:58] chemelli74 commented on #69
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 14:59] chemelli74 commented on #77
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:00] chemelli74 commented on #81
Please enable debug log and post it.

Thank you,

Simone

[2020-01-30 15:01] chemelli74 commented on #83
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:02] chemelli74 commented on #95
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:03] chemelli74 commented on #97
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:03] chemelli74 commented on #98
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:05] chemelli74 commented on #103
@vistalba, @LucaGT78 , do you agree on closing this one and moving to #168 ?

Thank you,

Simone

[2020-01-30 15:05] chemelli74 commented on #106
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:07] #108 closed

[2020-01-30 15:07] chemelli74 commented on #109
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:08] chemelli74 commented on #111
Are you on current latest and still facing the issue ?

Simone

[2020-01-30 15:10] chemelli74 commented on #115
i all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:12] chemelli74 commented on #121
@TASSDevon, can you update to latest beta9, HomeAssistant 0.104.0 or newer, and latest firmware ?

Simone

[2020-01-30 15:13] chemelli74 commented on #123
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:13] chemelli74 commented on #124
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:14] chemelli74 commented on #128
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-01-30 15:15] MTrab commented on #115
Still awaiting a new version available for install - so no activity is due to no new versions.

[2020-01-30 15:17] MTrab commented on #115
![Shelly](https://user-images.githubusercontent.com/14296463/73462339-f2193c80-437b-11ea-893c-8b11fe2e560f.PNG)

[2020-01-30 15:26] chemelli74 commented on #166
@janbernhardt, any feedback ? If working can you close the issue please ?

Thank you,

Simone

[2020-01-30 15:44] Baumtreter commented on #111
Yes. 1.5.7 is the latest available Update for the Shelly HT. The issue is from day one.

[2020-01-30 15:47] chemelli74 commented on #115
Hi @MTrab, as I told you please enable beta on HACS and install 0.1.6b9. You can see a "last updated: 5 days ago".

Thank you,

Simone

[2020-01-30 15:48] drash1 commented on #111
Hello Simone, the last available FW for H&T is 1.5.7. I tried with 0.1.6b9, but the problem still persist.

It should be 20,8°C
![image](https://user-images.githubusercontent.com/9327424/73464787-bbddbc00-437f-11ea-84bf-a4044a853cfd.png)

Also I'm not sure what the Device temperature is? I'm not sure it was there before.

[2020-01-30 15:49] chemelli74 commented on #111
If avaiable, what says http://x.x.x.x/status ?

Simone

[2020-01-30 15:50] MTrab commented on #115
No betas available - I have tried installing the master 5 days ago, nothing changed by doing that.
![Shelly_2](https://user-images.githubusercontent.com/14296463/73465344-8c7b7f00-4380-11ea-81d3-0720e4d86c72.PNG)

[2020-01-30 15:53] chemelli74 commented on #115
You should first enable beta. You don't know how ? Just click on the right side on the 3 lines menu.
Mine shows disable but yours should show enable:

![image](https://user-images.githubusercontent.com/57354320/73465643-f3993380-4380-11ea-9285-4b20ed8749fd.png)

Simone

[2020-01-30 15:55] MTrab commented on #115
Oh sorry - I have never noticed that option - will test right away.

[2020-01-30 15:57] Baumtreter commented on #111
Also here: Thabks for your support.

It says:

`{"wifi_sta":{"connected":true,"ssid":"MQTT","ip":"xxxxxxxx","rssi":-53},"cloud":{"enabled":true,"connected":false},"mqtt":{"connected":false},"time":"","serial":1,"has_update":false,"mac":"xxxxxxxxxxx","is_valid":true,"tmp":{"value":21.75,"units":"C","tC":21.75,"tF":71.15, "is_valid":true},"hum":{"value":53.5, "is_valid":true},"bat":{"value":80,"volt

[2020-01-30 16:02] chemelli74 commented on #111
@Baumtreter , please post details on Facebook English Group and tag "Dimitar Dimitrov"; this is the only way to get a fix in the firmware.

Thank you,

Simone

[2020-01-30 16:17] tcarlsen commented on #115
I still think it’s odd to close a issue that haven’t been fixed in a stable version.
Saying the bug is fixed in beta is fine, but as long as it’s still there in stable release makes this issue valid

[2020-01-30 16:23] Baumtreter commented on #111
Would be appreciate if anyone with the same Issue AND a Facebook Account could do that as I don't have one :)

[2020-01-30 16:32] chemelli74 commented on #115
Hi, I can get your point but we need to keep the focus to issues that are still active with latest code.
After all, why not upgrade to latest beta if you have a issue ? ;-)
Take also care that the project is developped using peoplpe's free time.

Thank you for your understanding,

Simone

[2020-01-30 16:41] vistalba commented on #103
@chemelli74 did you mean #169?

[2020-01-30 16:42] vistalba commented on #103
For me it is okay. Better check #169

[2020-01-30 16:43] vistalba commented on #128
For me it looks much better now.

[2020-01-30 16:51] paparapapapapa commented on #123
Hi Simone, I’m sorry I’m sometimes so fickle a community member.
Turned out it was the new text editor I installed on my iPhone that was changing all the simple single and double quotes with the angled ones.
A simple “find and replace” on all my yamls fixed this issue and others.
Thank you.

[2020-01-30 16:51] #123 closed

[2020-01-30 16:54] tcarlsen commented on #115
I do respect that it takes time. I have done open source myself so I’m not trying to rush anything here. But using beta is normally something you do if you’re okay with minor issues and crashes.

If you believe just use beta. Why not just release in stable if no risk??

Maybe use label to indicate that the issue is fixed but still being tested aka beta.

[2020-01-30 16:57] MTrab commented on #115
We all develop during our spare time. It's not the right way to close an issue until a fix/upgrade is released to stable.
That way you'll just risk getting more issues opened on the same error.

Let "beta solved" issues remain open until a stable release is ready.

[2020-01-30 16:58] MTrab commented on #115
That said - I can't upgrade to beta.
No matter how many times I press upgrade, 0.1.5 remains the one installed.

[2020-01-30 17:18] chemelli74 commented on #115
witch version of HA and HACS you have ?
did you have 0.1.6b9 in the list ? did you manually selected it before hitting upgrade ?

Simone

[2020-01-30 17:47] chemelli74 commented on #111
Posted on your behalf.

Simone

[2020-01-30 18:44] Baumtreter commented on #111
You're the best! Thanks a million!

[2020-01-30 19:43] chemelli74 commented on #156
From Shelly development:

[code]
So based on the value you see, you can identify the problem ;-)

Simone

[2020-01-30 19:46] chemelli74 commented on #111
Shelly recognized the issue and

![image](https://user-images.githubusercontent.com/57354320/73484433-982b6d80-43a1-11ea-9882-a6cdf120a0fb.png)

[2020-01-30 19:51] Baumtreter commented on #111
Awesome! Thanks a lot Simone! Will keep you posted as soon the update pops up.

[2020-01-30 20:24] tofuSCHNITZEL commented on #23
i've had 0.1.6-beta.8 installed but after a HA restart the battery shelly H&T is displayed as unavailable until a temperature change forces it to wakeup

[2020-01-30 23:01] sti0 commented on #142
Using history graph and auto entities to easily look at the states was a great idea.
This graphic shows the states of the last 80 hours:
![image](https://user-images.githubusercontent.com/18382402/73497622-82c33d00-43bb-11ea-9437-b132b5b00b6e.png)

As you can see there are some devices that bouncing again (only Shelly 2.5). Devices running now on 1.5.8 and since a few hours on 1.5.9. So problem is

[2020-01-30 23:37] juanmm90 commented on #158
Hi,
I have the same issue in my Hass. :(

[2020-01-31 07:43] chemelli74 commented on #23
Hi,

this issue was about integration, and now it's integrated ;-)
Please confirm so we can close.

About the battery, there are other issues (sorry I cannot help as I don't have the device).
Anyway, IMHO, it's working as expected by HA guidelines.

Simone

[2020-01-31 08:09] hakana commented on #23
@tofuSCHNITZEL Shelly H&T restore work in beta 9

[2020-01-31 08:11] hakana commented on #115
@HTrab You need to enable beta in HACS.
![image](https://user-images.githubusercontent.com/1168654/73522826-b62cb880-4409-11ea-947d-8d2e7989ce04.png)

[2020-01-31 08:15] colinfrei commented on #23
My understanding was that if it's integrated into HA, it'd be visible on this list: https://www.home-assistant.io/integrations/

Is that just a matter of waiting for a release, or am I misunderstanding what you mean by _now it's integrated_?

[2020-01-31 08:26] tofuSCHNITZEL commented on #23
sorry I mixed up the thread.
yes there is now a "Shelly Smart home" integration. but the weird thing is on the overview of all integrations its shows me 4 symbols (2 for each h&t I have) but if I click on it the table only displays 2 out of 4 entities.

[2020-01-31 08:31] tofuSCHNITZEL commented on #23
no its about having it in the gui under "settings" -> "integrations"

[2020-01-31 08:32] tofuSCHNITZEL commented on #23
confirmed! :)

[2020-01-31 08:45] jandrop commented on #158
I have the same issue, coap discovery is working but the updates are between 60 seconds

![image](https://user-images.githubusercontent.com/8020875/73524893-5be22680-440e-11ea-88fa-2027246f1818.png)

[2020-01-31 10:37] rufik commented on #23
Yes, _Shelly smart home_ is visible in Integrations section :)
But if I choose "_Add new integration -> Shelly smart home_" then there is a popup which is empty (no text) and asks me to input something. What is this supposed for?
![image](https://user-images.githubusercontent.com/425558/73532979-162d5a00-441e-11ea-8222-bec3f0575bfc.png)

[2020-01-31 10:37] Misiu commented on #23
@colinfrei at first I thought the same way, but I think it is still too soon to add ShellyForHASS as an official integration (as it is still in beta)
Having the ability to add ShellyForHASS independent is a big plus: you can update to the newest version without the need to wait for a new release of HA. Recently new versions of ShellyForHass were released very often, a lot of things was added, a lo

[2020-01-31 10:44] chemelli74 commented on #23
Did you already added "shelly:" to configuration.yaml ?

Simone

[2020-01-31 11:13] colinfrei commented on #23
I understand the Pro's and Con's. Personally I still prefer it to be a component included in home assistant.

The Add-On Store is primarily for hass.io addons, not home assistant core components, afaik.

[2020-01-31 11:15] colinfrei commented on #23
I also primarily wanted to make sure we're not mixing things up in this thread. My read of what @rufik asked for was integrating the code into home assistant core. If that's not something you plan to do, it might make sense to close the issue, and open separate issues for other things that came up here :)

[2020-01-31 12:33] rufik commented on #23
Yes.

[2020-01-31 12:41] rufik commented on #23
Initially I was thinking about **putting** this integration into HA's core code.
It evolved to development of GUI Integration Configuration as far as I can see.
Two different things. Let's keep this one as first case and open new issue for second case.

[2020-01-31 12:48] rufik commented on #22
It''s fine for me now.

[2020-01-31 17:02] zsbobbob commented on #115
I have 0.1.6 beta 9 and working fine. The binary sensor and temperature added and also some additional sensors based on the config file.
Thanks

[2020-02-02 13:34] vistalba commented on #169
Okay... I did some more testing on this beta9 issue with my two 1pm.

What I can say is that it works generally. But if the load on 1pm is "static" (so long time constant near the same load) it doesn't seem to update the values in HA. I've to wait a longer time than before.

You can see it in the screenshot attached:
![image](https://user-images.githubusercontent.com/12324196/73608866-46b0f780-45c

[2020-02-02 19:51] MTrab commented on #115
Finally got it to install - and it works now.

[2020-02-02 20:09] chemelli74 commented on #169
@vistalba , do you have access to a linux machine ? I would ask to run followng command:

[code]

so you can check if they are consistent.

Simone

[2020-02-02 20:11] #115 closed

[2020-02-02 20:30] vistalba commented on #169
@chemelli74
Yes, I do.

`
~curl -s http://user:password@192.168.1.xx/status | jq .meters[0].total
1290484
`

`
~curl -s http://user:password@192.168.1.yy/status | jq .meters[0].total
4399086
`
after serval seconds/minutes:
`
~curl -s http://user:password@192.168.1.xx/status | jq .meters[0].total
1291003
`

`
~curl -s http://user:password@192.168.1.yy/status | jq .meters[0].total
4400197
`

So they

[2020-02-02 22:20] chemelli74 commented on #169
Humm, seems all fine to me. "0" and "1" are two different loads of your Shelly 2.5 so make sense that total is different.

I had same inconsistency, so I just deletde those entities and rediscovered.

Simone

[2020-02-02 22:25] vistalba commented on #169
It is not a Shelly 2.5. It is a Shelly 1pm. There is only one load.

How can I delete the entity to check if that helps?
The inconsistency comes from this... example:

1h a device consumes constant 18W.
At the end of the hour utility_meter shows 0 kWh instead of 0.018 kWh (or if you round 2 -> 0.02kWh).

But the utility_meter has this issue because consumption is just read once... after that consu

[2020-02-02 22:26] chemelli74 commented on #23
Currently author doesn't plan to have ShellyForHASS as an official component. Basically because developping is a lot faster leaving things as they are.
Once the plugin is feature complete and stable I'm sure he will consider.

To summarize current situation:

- adding Shelly to GUI Integration: **done**
- adding Shelly as official component: **won't fix (for now)**

Simone

[2020-02-02 22:30] paolograssi commented on #158
I have the same problem.

Updated to Beta 9 with HA 0.104.3. CoAP discovered but still lot of delay with update.

I managed to reduce the update with scan_interval = 5 but from time to time I get weird behavior such as the light gets on but when switch is updated on HA to on it auto switch off.

Available for test, if needed.

[2020-02-03 07:43] vistalba commented on #169
I tried with your suggestion and deleted all entities of the Shelly 1pm.

1.6.0beta9 has recreated them. But same issue so far. My load has a constant consumption of 18W at the moment...

This entitiy is not updated anymore because until the 18W is changed... this result in wrong calculation of kWh:
`sensor.shelly_shsw_pm_c12345_consumption`

The new entity "total_consumption_attr" is updated freq

[2020-02-03 07:48] majuss commented on #23
@chemelli74 Hass itself is not out of beta, so why should the components be? And "feature complete" can't be archieved since Shelly is launching new products every now and then...

[2020-02-03 08:46] Misiu commented on #23
@majuss I think @chemelli74 has a good point.
Right now ShellyForHass can have a new version multiple times a day.
If it would be part of Home Assistant you would have to wait week or two for a new feature or a bug fix.
I also would like to see ShellyForHass as an official integration, but I think that still, it is too early for that.

[2020-02-03 08:52] vistalba commented on #169
I just found out that now also in beta 8 I run into this issue (may because I deleted the entity?).
Now downgraded to 0.1.5 and now it does refresh much more often. But what I also see is that now the consumption is no more "18W" it does switch between "17.5W" and "18.20W".
So there are more details. May this is relevant?

[2020-02-03 08:52] rufik commented on #23
Probably you're all right, we need fast fixes of issues more than official component.

And it's very important for now I think to follow HA's development standards. Thanks a lot for this!

[2020-02-03 11:57] vistalba commented on #169
@morph027 @chemelli74
I found out something.

If I use 1.5.0 (release) consumption value default is `power_decimals: 2`.
If I use 1.6.0b9 consumption default value is `power_decimals: 0`. This results in much lower change of the value.

I now set `power_decimals: 1` in 1.6.0b9. This resolves the issue for me.

[2020-02-03 14:35] chemelli74 commented on #169
This is a old sensor, new one is "current_consumption".

Simone

[2020-02-03 14:40] vistalba commented on #169
@chemelli74

There is no sensor with `current_consumption` in 1.6.0b9.

Here you can see all the senaors I've in developer tools:
![image](https://user-images.githubusercontent.com/12324196/73662003-5d744e80-469b-11ea-837f-ce2be499309a.png)

Current config:

[code]

[2020-02-03 14:45] chemelli74 commented on #169
[https://github.com/StyraHem/ShellyForHASS/releases
](url)

Simone

[2020-02-03 14:58] vistalba commented on #169
Sorry, but I don't get the point with this release page you linked.

[2020-02-03 22:31] jponte85 opened #172 "How to use the proxy.py python script?"
I'm running HASSIO, I tried to execute the script on the same server where I have the HASSIO but without success, what I did was:
 python3  proxy.py

after execute the command I didn't receive any ouput.

[2020-02-03 22:58] skeptizzle commented on #114
Just chiming in.
It really is something that should be supported, I would really like to transition my ceiling lights in the bedroom in the morning.
I guess I will stick with Zigbee bulbs for now!

[2020-02-03 23:10] itayraviv commented on #132
updated to latest HA version and latest plugin.
current state is that i still have many of these messages in the HA log:
2020-02-04 01:05:16 INFO (Thread-420) [pyShelly] Get status from 740995 Shelly 2.5
2020-02-04 01:05:17 INFO (Thread-422) [pyShelly] Get status from 7453A2 Shelly 2.5
2020-02-04 01:06:13 INFO (Thread-435) [pyShelly] Get status from 7458B0 Shelly 2.5
2020-02-04 01:06:13 INFO (Thre

[2020-02-03 23:14] hakana commented on #132
You can turn off them by change the logger settings in config.yaml

[code]
or

[code]

[2020-02-04 07:41] rmarkiewicz commented on #132
I would suggest change this message to `debug` level to not flood log file.
And as workaround it's better to set `warn` level for now, so pyShelly errors will be still visible.

[2020-02-04 10:42] vistalba opened #173 "Rename sensors _consumption to _current_consumption in 1.6.0 beta 10"
As a result of

`Rename sensors _consumption to _current_consumption`

all history of the entity are lost.
May this should be something to mention in Changelog/Release notes then?

[2020-02-04 10:58] vistalba commented on #143
Would like `current_position` as a sensor too to automate my covers more accurate.

[2020-02-04 13:22] itayraviv commented on #132
I just updated via HACS to the build released 2 hours ago and it broke HA, its not starting, log messages are full of:
2020-02-04 15:19:51 INFO (CoAP) [pyShelly] Update id:7453A2 state:True stateValue:None values:None info_values:{'current_consumption': 0.0}
2020-02-04 15:19:51 INFO (CoAP) [pyShelly] Update id:7453A2-1 state:0.0 stateValue:None values:None info_values:None
2020-02-04 15:19:51 INFO

[2020-02-04 13:47] itayraviv commented on #132
restarting HA and/or the entire host machine not helping, HA can't start, something with this update broke HA or HACS or both..

[2020-02-04 14:31] hakana commented on #132
No, take a backup of config.yaml and start removing things from config.yaml until it starts working.

[2020-02-04 14:40] pilot1981 opened #174 "problem to upgrade from 0.16 beta to 0.16 stable using HACS"
Hi,
I have HACS 0.20.9 on HASSIO 0.104.3, I tried to upgrade from 0.16 beta to 0.16 stable using HACS but it remain at 0.16 beta 10...I always have restart HA message on HACS...

[2020-02-04 18:50] thundergreen commented on #139
I'm interested in the vintage bulb. Once u 5ested it could you please add it ?

[2020-02-04 19:50] antivirus68 opened #175 "Version 0.1.6 - entity switch problems"
HassOS 2.11
HA: 0.104.3
Shelly: 0.1.6
Device: Shelly 1, Shelly 1PM, Shelly 2.5

All three devices have same behaviour, which is the following.

I start from off state.
I turn it on, the light goes on, but after few seconds (1/2) the entity switch turns off (light still on) then after about 30secs the entity switch turns on because the light is on.

I start from on state.
I turn it off, the light g

[2020-02-05 07:28] chemelli74 commented on #174
Hi,

worked fine here.
Can you post debug log please ?

Simone

[2020-02-05 07:29] chemelli74 commented on #173
Added to release note of 0.1.6 release

Simone

[2020-02-05 07:29] #173 closed

[2020-02-05 07:31] chemelli74 commented on #128
Hi,

can you please close the issue ?

Simone

[2020-02-05 07:34] chemelli74 commented on #23
Will reconsider integration in future.
Closing for now.

[2020-02-05 07:34] #23 closed

[2020-02-05 07:49] #128 closed

[2020-02-05 10:24] pilot1981 commented on #174
Hi,
in HACS I always have same problem...Shelly isn't updated correctly...

where I can take debug logs?

[2020-02-05 14:01] pavolholes commented on #175
I just installed this plugin and I'm having the same behaviour issue with the Shelly Dimmer.

[2020-02-05 14:04] pilot1981 commented on #174
solved, a problem in configuration.yaml create a stop in upgrade process of HACS when it have to restart home assistant!

[2020-02-05 14:04] #174 closed

[2020-02-05 14:12] JesCR commented on #175
Same here with a shelly1 and a shelly2.

[2020-02-05 14:28] dborsnich commented on #175
I´ve have issues with the new version. All off my shellies devices doesn´t appear. I´ve lights and dimmers
I came back to the 1.5 version and now is ok.
My HA version is 0.103.5, thanks

[2020-02-05 14:54] pavolholes commented on #175
Thanks @dborsnich for your comment, I didn't know I can go to older version in HACS. I just did that and folder `root\config\custom_components\shelly` disappeared :( So I "updated" back to 0.1.6 and it appeared back on the disk...

[2020-02-05 23:17] chemelli74 commented on #175
0.1.6 needs at least 0.104.0. If using HACS you are blocked from upgrading plugin if HA is not compliant.

Simone

[2020-02-05 23:21] chemelli74 commented on #169
@morph027 , @vistalba please recheck with final 0.1.6 release.

Simone

[2020-02-05 23:23] chemelli74 commented on #168
@craigrallen, @morph027, @tomekswx please recheck with final 0.1.6 and report back.

Simone

[2020-02-05 23:23] chemelli74 commented on #167
@vistalba, please retest with 0.1.6 final and report back.

Simone

[2020-02-05 23:24] chemelli74 commented on #132
@itayraviv, did you manage to have a working HA ?
If so, please set logger to your preference and report back.

[2020-02-05 23:29] chemelli74 commented on #121
@Stefan300381, can you upgrade to 0.1.6 final and add

[code]

to your configuration ?
Then post log so we can see the offending CoAP message.

Simone

[2020-02-05 23:30] #103 closed

[2020-02-06 07:13] TASSDevon commented on #121
@chemelli74 Sorry, didn't see your mention. I'll let you know when I see the message pass by as well.

[2020-02-06 07:29] morph027 commented on #168
Looked good in latest beta, installed final 0.1.6 today and it still looks good :+1:

[2020-02-06 07:43] Xylomid commented on #168
Hello, my consumption sensors are still off by about factor 20 compared to shelly.cloud data. I'm using shellys EM. Power sensors are working great and i'm getting the right consumption by using the integration platform on power sensor.  Thanks

[2020-02-06 08:29] hakana commented on #168
@Xylomid Can you send a screen capture of the cloud data and in HA. Is HA showing a bigger value?

[2020-02-06 08:34] #167 closed

[2020-02-06 08:34] vistalba commented on #167
Works for me.

[2020-02-06 08:35] vistalba commented on #169
Added "power_decimals: 1" to configuration and this works fine for me.
May the issue has something to do with 1.5.0 which had always 2 decimals.

[2020-02-06 08:39] skeptizzle commented on #175
I'm running Home Assistant (non-Core) 0.98.5 and using ShellyForHass through HACS. I had no problem upgrading to 0.1.6, and now i'm left with:
"Unable to import shelly: cannot import name 'ATTR_RESTORED' from 'homeassistant.helpers.entity_registry' (/usr/src/homeassistant/homeassistant/helpers/entity_registry.py)"
The above only seem to make my RGBW2's unavailable though, my Shelly 2.5's seem OK.

[2020-02-06 08:40] skeptizzle commented on #175
@chemelli74

I'm running Home Assistant (non-Core) 0.98.5 and using ShellyForHass through HACS. I had no problem upgrading to 0.1.6, and now i'm left with:
"Unable to import shelly: cannot import name 'ATTR_RESTORED' from 'homeassistant.helpers.entity_registry' (/usr/src/homeassistant/homeassistant/helpers/entity_registry.py)"
The above only seem to make my RGBW2's unavailable though, my Shelly 2.

[2020-02-06 09:17] Xylomid commented on #168
![image](https://user-images.githubusercontent.com/53476963/73922324-4155f480-48c9-11ea-8bee-c60f883c3422.png)
![image](https://user-images.githubusercontent.com/53476963/73922332-45821200-48c9-11ea-8a70-b7116090047f.png)

Shelly cloud gives me 7147 Wh from 00am to 10am
HA sensors gives me 121 Wh from 00am to 10am

[2020-02-06 09:22] chemelli74 commented on #113
@vistalba, documentation says:

Update the script with the ip-address of your HASS installation and r**un it on a computer/router etc that are connected to same nettwork as your Shellies**. Firewall and routing must be enabled, TCP 80 HASS -> Shelly and UDP 5683 Shelly -> HASS

Does this clarify your doubt ?

Simone

[2020-02-06 09:27] itayraviv commented on #132
I managed to have HA up again but I keep getting TONS of these messages, where can I set the log level? under HA configuration.yaml file? I tried under shelly section like this and I HA says invalid config:

shelly:
  discovery: true  # Add all devices
#  version: true    # Add version sensor
  username: !secret shelly_username
  password: !secret shelly_password
  logger:
    logs:
      pyShelly

[2020-02-06 09:39] hakana commented on #132
The logger should not be under shelly, move it to the root level.

https://www.home-assistant.io/integrations/logger/

[2020-02-06 09:57] hakana commented on #168
Ok, look like Shelly EM report Wh, not Wmin as other devices. It is a factor of 60 and that gives you 7260 instead of 121.

[2020-02-06 10:03] Xylomid commented on #168
That's it ! didn't think about that, thank you

[2020-02-06 10:25] itayraviv commented on #132
thanks for clarifying ..
ok did it, now what? wait and see if an error pops?

[2020-02-06 10:54] mariobarisic opened #176 "Sensor data"
I'm trying to get information's from shelly dimmer regarding brightness level but I could not manage do this!
I'm using sensor templating inside sensor.yaml configuration...
What is the right way, or it is even possible to get brightness level? I can see that when light.shelly_shdm_1_ID is on first attribute brightness is available as value from 1  - 255.
I'm running latest ShellyForHASS 1.6.0. an

[2020-02-06 10:58] hakana commented on #176
What if you click on the dimmer?

![image](https://user-images.githubusercontent.com/1168654/73931080-f98a9980-48d7-11ea-9cbd-cfd2127c1f46.png)

[2020-02-06 11:04] mariobarisic commented on #176
Dimming is working as expected and I can control the brightness of the light connected to the shelly dimmer, but I'm trying to get information as maybe sensor data what is the actual brightness value? I can see in HA -> Developer Tools -> States:
![image](https://user-images.githubusercontent.com/60128241/73931371-7b7ac280-48d8-11ea-9a16-bbd35620af6f.png)
or
![image](https://user-images.githubuser

[2020-02-06 12:01] hakana commented on #169
Yes, we changed the power_decimals to 0 as default in 0.1.6 so it not fill/flood the database.

[2020-02-06 12:53] vistalba commented on #169
I think this is the problem we facing in.
I've very constant load and this results in that the value sometimes is not updated for multiple hours. This results in not calculate kWh in utility_meter.

[2020-02-06 12:59] vistalba commented on #113
@chemelli74 Not really. If the proxy node is only in shelly network, then it will also need some rules between proxy -> HASS?

[2020-02-06 13:08] hakana commented on #113
Yes it need UDP 5683 from proxy -> HASS. It sending UDP direct to IP and is not using multicast.

[2020-02-06 13:10] hakana commented on #169
But the total_consumption will be updated even if not the consumption updates

[2020-02-06 13:12] vistalba commented on #169
Do you have an good example how to calculate consumed energy with utility_meter in kWh with `total_consumption`? As I know after a shelly reboot `total_consumption` value will be 0.

[2020-02-06 13:13] hakana commented on #169
No, total_consumption is from the Shelly and is only reset when you doing a factory-reset of the Shelly.

[2020-02-06 13:20] vistalba commented on #169
Which parameter do you use for `total_consumption`?

http://ip/status total value?

`{"wifi_sta":{"connected":true,"ssid":"vistalba-iot","ip":"192.168.1.235","rssi":-52},"cloud":{"enabled":true,"connected":true},"mqtt":{"connected":false},"time":"14:18","serial":5,"has_update":false,"mac":"ECFABCC45728","relays" :[{"ison":true, "has_timer":false,"overpower":false}],"meters":[{"power":180.25,"is_va

[2020-02-06 13:26] vistalba commented on #113
Okay... I suggest to add this to documentation:

Proxy has NIC only in Shelly network.

FW Rules:
Shelly's -> HASS udp 5683
Proxy -> Hass udp 5683
HASS -> Shelly tcp80

[2020-02-06 15:32] SciTii commented on #114
any ideas how to solve that problem? I would really like to have transition without creating super complicated automations in node red

[2020-02-06 16:13] mariobarisic commented on #176
OK, i've managed to get brightness value for shelly dimmer switch getting the attribute value:

[code]
so we can close this issue.

[2020-02-06 16:13] #176 closed

[2020-02-06 18:02] rParslow opened #177 "Version 0.1.6 - issue with device FW display after update"
Hi

_First Thank's a lot for this release, has I'm switching from JDom to HA I'm able to do it with less pain with the Integration support :)_

I've noticed an issue after updating the Shelly's Firmware (from HA and from the Shelly web acces)

ShellyForHass tells me the actual FW version of my devices and that a new one is available, so I've updated the FW from HA. It works fine, but no I've on th

[2020-02-06 18:37] rParslow opened #178 "0.1.6 - Total consumption sensor / persistance"
Hi

The **Total consumption sensor** is a great thing, but unfortunatly when the Shelly restart the value to 0

Do you think it will be possible to keep the value to avoif this ?
![TotConsump](https://user-images.githubusercontent.com/1121777/73967336-fa432000-4917-11ea-8b1f-82fffbf42fc2.jpg)

[2020-02-06 21:35] ggraziotti commented on #169
current consumption values are energy, so Wh or power, so Watt? I assume that are WATT, so is not correct consumption, but POWER is correct.... Otherwise miss understanding...

[2020-02-06 22:14] chemelli74 commented on #113
@vistalba, please confirm everything works in your use case so we can update the documentation accordly.

Simone

[2020-02-06 22:17] pathia commented on #113
Is this fix already implemented in the latest release? It looks to me like it isn't. Thanks.

[2020-02-06 22:33] chemelli74 commented on #168
Sorry, but I don't get it :-(

Looking at Shelly's app, at 8:00am of Feb 6 I see: 65Wh.
Looking at HA at 8:00am of Feb 6 I see: current total 891 (upper right corner) - at time total 747 (red line graph) = 144.

Where am I wrong ?

Simone

![2020-02-06 23_30_49-Window](https://user-images.githubusercontent.com/57354320/73984469-fd9ad380-4938-11ea-92e2-29fcff51e9d9.png)

![IMG_2440](https://user-im

[2020-02-06 22:40] chemelli74 commented on #113
@pathia, did you test the proxy script ?

Simone

[2020-02-06 22:53] pathia commented on #113
(not trying to hijack the thread!)
Unfortunately not since I don't have a machine in my IoT vlan.
Retrieving the current state after we send a command would make it sort of usable for me.

[2020-02-06 23:52] hakana commented on #177
Yes the update switch is removed when there is no update. You can use the custom component auto-entities to show a list of update switches.
https://github.com/StyraHem/ShellyForHASS/blob/master/README.md#need-firmware-update-click-on-the-switch-to-update

[2020-02-07 06:57] Xylomid commented on #168
Looking at Shelly's app, at 8:00am of Feb 6 I see: 65Wh.
==> this is your energy consumption from 8am to 9am
Looking at HA at 8:00am of Feb 6 I see: current total 891 (upper right corner) - at time total 747 (red line graph) = 144.
==> 144wh is your energy consumption from 8am to now (end of graph)

[2020-02-07 07:03] vistalba commented on #169
@ggraziotti
As described here: https://shelly-api-docs.shelly.cloud/#shelly1-1pm-status

power = Current power in Watt
total =  Total energy consumed by the attached electrical appliance in W/min

So as I understand:

power = current_consumption
total = total_consumption

Problem is that "total" value is 0 after reboot/firmware upgrade. So you may have to do some extra work on HA that consumption

[2020-02-07 09:24] holdestmade commented on #158
Same problem here, updated to Beta 10 with HA 0.105.1. Added host_ip and now CoAP discovered but still lot of delay with update of the status. Have MQTT running as well and they update instantly.

[2020-02-07 10:05] hanimayahi commented on #140
I have this same problem, there should be a switch to change the bulb between RGB and White mode, like how it is done in the shelly web interface.

I had to make a MQTT script that changes the mode between rgb and white, but it's not a optimal solution.

[2020-02-07 10:13] jacha05 commented on #140
Yeah its sad that the author does not care or understand this problem. Can you please share your mqtt code for this?

[2020-02-07 18:16] TASSDevon opened #179 "0.1.6 Default config outputs a lot of data in log"
After updating to 0.1.6 it seems ShellyForHASS outputs quite a bit more into the logs. Could this be lowered a bit?

If not by default, is there a way for me to make the plugin more silent?

Thanks

Example:

_values:{'current_consumption': 0, 'switch': False}
2020-02-07 18:16:16 INFO (CoAP) [pyShelly] Update id:7718D1 state:False stateValue:None values:None info_values:None
2020-02-07 18:16:19 IN

[2020-02-07 20:23] paolograssi commented on #158
Someone was able to get this working? I don't know if this is a router problem or so...

But with mqtt all working well? Dimming lights, rgb, etc... why not using mqtt instead for the library?

[2020-02-07 20:54] Misiu commented on #158
@paolograssi the answers is simple: if you want cloud (shelly app outside your Wi-Fi ) and home assistant you can't use MQTT. If you enable MQTT you loose cloud connection.

[2020-02-07 20:56] Misiu commented on #179
What is your log level in config (in home assistant)?

[2020-02-07 22:12] hakana commented on #140
I understand the problem and also care ;), but right now there are other things that are more important right now.

[2020-02-07 22:15] hakana commented on #140
Btw, you can do a http call to change this if you don't want to use MQTT.

https://shelly-api-docs.shelly.cloud/#shelly-bulb-settings

[2020-02-07 22:17] hakana commented on #158
The probably broadcast is not working in your network, check if you have a setting for igmp in your switch and routers that you can change.

[2020-02-07 22:27] hakana commented on #169
Yes that is correct

We don't have any logic around total_consumption, just showing the value from the Shelly.

[2020-02-07 22:32] hakana commented on #168
I think everything is fine in the 0.1.6 except for the Shelly EM that showing wrong by a factor of 60. That will be fixed in the next release. Let me know if some other devices have a problem.

[2020-02-07 22:48] ggraziotti commented on #169
Power is not consumption, I do not understand why watt as consumption and not instant power...

[2020-02-08 02:22] hakana commented on #169
@ggraziotti Can you please explain what you don't understand?

[2020-02-08 08:50] VooZ2 opened #180 "0.1.6 No Total Consumption for Shelly Plug S"
I installed yo Shelly Plug S but can't get total consumption. My config:

[code]

where I make a mistake?
<img width="376" alt="Screenshot 2020-02-08 at 10 47 49" src="https://user-images.githubusercontent.com/58629422/74082240-c4f61980-4a60-11ea-9c60-026ef3cf485a.png">
<img width="505" alt="Screenshot 2020-02-08 at 10 47 39" src="https://user-images.githubusercontent.com/58629422/74082244-c6bfdd0

[2020-02-08 14:35] danygi79 opened #181 "Shelly EM sensor value missing"
hello,
the shelly EM sensor does not show the voltage, apparent power and cosfi values, for me they are very important

[2020-02-08 15:42] dodg3r opened #182 "Slow update of current consumption"
Hi.

My dev installation is on beta 8 and my prod installation is on 0.1.6.

In my prod installation current consumption is delayd with about 50 seconds when I turn on/off lights/switches.
In my dev installation its almost instant.
When I updated my dev to 0.1.6 the same delays occured

What to do ?

Someone else with same issue ?

[2020-02-08 16:42] cjramseyer opened #183 "0.1.6 Broke Shelly 1 devices"
Following an upgrade from 0.1.5 to 0.1.6 the three Shelly1 devices I have, no longer appear in home assistant.

I have shelly: in the configuration.yaml

When checking the configuration (after complete removal and reinstall via HACS), the following error is received:
Component error: shelly - cannot import name 'ATTR_RESTORED' from 'homeassistant.helpers.entity_registry' (/usr/src/homeassistant/ho

[2020-02-08 17:28] cjramseyer commented on #183
Following numerous attempts at going back to version 0.1.5 via HACS and many reboots, have manually installed 0.1.5 (and rebooted).  Added "shelly:" back to the configuration.yaml.
This is the only way I could restore the shelly devices.

[2020-02-08 20:17] emilp333 commented on #179
Same here. Default log level in HA.

[2020-02-08 23:21] chemelli74 commented on #179
@TASSDevon , @emilp333 please set log level to warn or higher:

[code]
Simone

[2020-02-08 23:31] chemelli74 commented on #168
Dimitar is looking at it from the firmware point of view no later than tomorrow morning.

Simone

[2020-02-08 23:33] chemelli74 commented on #183
You need HA >= 0.104.0 for 0.1.6

Simone

[2020-02-08 23:35] chemelli74 commented on #181
Hi @danygi79, can you share your configuration.yaml ?

Simone

[2020-02-08 23:36] chemelli74 commented on #180
Confirmed also on my installation.

Simone

[2020-02-09 07:58] max-rh opened #184 "Shelly 2.5 still no current temperature and not update sensor"
Hi,
First I would like to thank you for such an amazing integration.

I have been running this integration for a long time and it has been working perfectly, but I don't know at what version the issue appeared, but I have multiple Shelly plugs, 1 and 2.5 all working perfectly; all my 2.5 Shellies are working in Roller mode and working perfectly in the integration and I get all sensors except for o

[2020-02-09 08:30] TASSDevon commented on #179
@Misiu default, I don't have a log level specified in my configuration yaml file.

@chemelli74 Thanks, I'll update that :-)

[2020-02-09 11:58] emilp333 commented on #179
I still think this issue is an issue. Default log level is too high.

[2020-02-09 12:39] emilp333 commented on #179
Non of the above examples seems to have any affect on this component though. And be careful if you have not set any default level in logger component.

[2020-02-09 13:46] danygi79 commented on #181
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

cloud:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
   base_url: casa45234.duckdns.org
   server_port: 8123
   ssl_certificate: /ssl/fullchain.pem
   ssl_key: /ssl/privkey.pem

homeassistant:
  customize: !include customize.yaml

telegram_bot:
  - platform: polling
    api_key

[2020-02-09 13:48] danygi79 commented on #181
in the previous post there is the iterus file, of course all the passwords and the api key have been changed

[2020-02-09 13:52] chemelli74 commented on #179
Default level is your HA default level ;-)

Simone

[2020-02-09 13:53] chemelli74 commented on #179
Post your configuration.yaml, I expect something wrong there as Shelly respect HA level since so long time.

Simone

[2020-02-09 14:00] chemelli74 commented on #181
I suggest you use "secrets.yaml" for all sensitive data (api key, ip addresses, users, password, etc.

Simone

[2020-02-09 14:03] danygi79 commented on #181
thank you for your suggestion

[2020-02-09 14:10] chemelli74 commented on #184
Can you post a screenshot of HA rappresenting this issue ?
I want to check if I got it right.

Simone

[2020-02-09 14:25] chemelli74 commented on #132
Log should not report any "INFO" massage any more if correctly configured.

Simone

[2020-02-09 14:30] chemelli74 commented on #113
If you cannot test proxy script, I'm going to close this thread.

Simone

[2020-02-09 15:11] pathia commented on #113
I understand what your saying, but I was only asking about the suggestion you did about polling the status immediately after a switch command. I don't want any linux machine in between these two vlans.

[2020-02-09 15:29] cjramseyer commented on #183
Good to know.  That would be a good thing to include in the documentation.

Thanx for letting me know.

Regards,
CJ

CJ Ramseyer
(203) 690-4969
consult<at>techdesk.org
On February 8, 2020 6:33:47 PM Simone Chemelli <notifications@github.com>
wrote:

[2020-02-09 18:55] chemelli74 commented on #113
Polling status after update is implemented.
If it doesn't work for you, please open a new issue after upgrading to 0.1.6 final release and atatch debug log.

Simone

[2020-02-09 18:56] #113 closed

[2020-02-09 18:59] chemelli74 commented on #172
Script is used to forward CoAP messages from Shelly's network to HA network; I don't expect any output on the script itself, even if I didn't tested it.

Simone

[2020-02-09 19:01] chemelli74 commented on #166
Hi all,

just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-09 19:03] chemelli74 commented on #164
As far as you experience netowrk issues, we cannot do much.
Please fix your wifi and report back.

Simone

[2020-02-09 19:07] chemelli74 commented on #39
Sorry, I don't have one to test myself.
Maybe Worth testing using latest firmware.

Simone

[2020-02-09 20:04] jponte85 commented on #172
I was not able to use the python script. What I did was create a static route for multicast. It is working. Thanks.

[2020-02-09 20:04] #172 closed

[2020-02-09 20:05] jponte85 commented on #172
I was not able to use the script. What I did was create a static route for multicast communication. It is working.

[2020-02-09 22:10] dannyyy opened #185 "0.1.6 Huge delays to retrieve state"
Since I updated today, I have huge delays between the point in time when I trigger a command/action and the time it gets reflected within home-assistant.

Pressing power-on and the light is immediately lighted. But within home-assistant, the state changes to on for 0.5-1s and after that it shows again the initial state. After another 5-30s the actual state will be displayed. An as long as the actu

[2020-02-10 00:42] pedrobsm opened #186 "Massive amount of events and state entries on DB"
I have about 10 shelly devices connected to my HASS and eveything working properly so far, but they are generating an enormous amount of events when compared to other devices.
Even without changing any state (button or relay) each device is sending between 1000 and 8000 events per day to HASS. This leads to a huge DB size (>2GB for 7 days retention) and a very slow graph performance on Lovelace.
T

[2020-02-10 10:19] helmi1987 opened #187 "Shelly 4 Pro no State for Switch"
Connectet Shelly 4 Pro in hass.io have no switch_state entity
(Switch sensors to show status of switch button (0.0.16))

[2020-02-10 14:26] chemelli74 commented on #186
About "pos" you mean roller position ?
If so can you check on http://x.x.x.x/status the values ?

Simone

[2020-02-10 14:35] chemelli74 commented on #79
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-10 14:36] chemelli74 commented on #81
Hi all, just to inform that after 3 weeks of inactivities on very old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-10 14:44] chemelli74 commented on #121
Any update ?

Simone

[2020-02-10 14:50] chemelli74 commented on #143
I think that using sensor template is enought for now.

Simone

[2020-02-10 14:58] chemelli74 commented on #183
Please confirm it works after upgrade so we can close this issue.

Simone

[2020-02-10 19:18] RenePhilipse commented on #185
Ik have the exact same issue. I just started with home automation, home assistent and Shelly and thought maybe i did something wrong. Switching from HA works fine, but state updating takes 30 tot 60 seconds.

[2020-02-11 02:11] superm1 opened #188 "Claims to support integration flow but it actually fails"
Hi,

I just installed from HACS and it told me I could go to integrations to configure it.  I found it there:
![image](https://user-images.githubusercontent.com/494526/74206540-7bb0f000-4c41-11ea-913e-267eac4c6a75.png)

However after clicking through I'm brought to a rather confusing dialog.
![image](https://user-images.githubusercontent.com/494526/74206556-8bc8cf80-4c41-11ea-922d-53dbd1a76aab.png

[2020-02-11 07:24] TASSDevon commented on #121
No, haven't seen the error yet.

[2020-02-11 12:58] hakana commented on #188
It can only be setup/configured in config.yaml for the moment

[2020-02-11 13:41] superm1 commented on #188
Yes, I configured it via yaml afterwards successfully. I just wanted to report it so you knew the bug it was offering integration flow even though not functioning.

[2020-02-11 13:57] geronimo078 commented on #158
Tried to change the igmp setting on the router but the broadcast is still not working. The card update need about 30 seconds no matter what setting i use.
Meanwhile i changed one shelly to MQTT and this one works perfectly.

[2020-02-11 14:01] kasteleman commented on #158
Same here. Strang thing is that A wireshark scan on my pfsense box does not
show any coap traffic. Only http (80) and 5353. What am I missing?
Meanwhile changed the pollinterval to 5 sec in the config.

Op di 11 feb. 2020 om 14:57 schreef geronimo078 <notifications@github.com>

[2020-02-11 15:00] chemelli74 commented on #124
No update for 21 days, closing

Simone

[2020-02-11 15:00] #124 closed

[2020-02-11 15:02] chemelli74 commented on #106
No update for 21 days, closing

Simone

[2020-02-11 15:02] #106 closed

[2020-02-11 15:02] chemelli74 commented on #97
No update for 21 days, closing

Simone

[2020-02-11 15:02] #97 closed

[2020-02-11 15:11] chemelli74 commented on #83
No update for 21 days, closing

Simone

[2020-02-11 15:11] #83 closed

[2020-02-11 15:13] chemelli74 commented on #121
Since how many days ?

[2020-02-11 15:27] chemelli commented on #52
No update for 21 days, closing

Simone

[2020-02-11 15:29] chemelli74 commented on #52
No update for 21 days, closing

Simone

[2020-02-11 15:29] #52 closed

[2020-02-11 18:41] VooZ2 commented on #180
Case closed. Problem was with a time. Shelly Plug S must have time to calculate total consumption.

[2020-02-11 18:41] #180 closed

[2020-02-11 19:55] weltmeyer commented on #183
Works for me with 105. Had to update the shelly1 with latest firmware.

[2020-02-12 07:23] TASSDevon commented on #121
Quite a while, the error didn't pop up very often, sorry I can't be of more help at the moment, I also have no clue which device other than the Shelly ones is using CoAP on my network.

[2020-02-12 13:40] JANogueira commented on #169
Hi All,

Not sure if this is the right place to post this, but I am finding data inconsistency regarding the current_consumption sensor when comparing lovelace history graphs and InfluxDB/Grafana.

Here is an example taken from the Lovelace history graph:
![image](https://user-images.githubusercontent.com/22750391/74339725-8e8c0780-4d9c-11ea-8d61-e6ca0c58d475.png)

and a graph built with Grafana f

[2020-02-12 13:52] hakana commented on #169
Try change fill (null) to something else (don't remember)

![image](https://user-images.githubusercontent.com/1168654/74340956-37d7fb00-4da7-11ea-9320-40ccf60b1bef.png)

[2020-02-12 14:11] JANogueira commented on #169
Many thanks @hakana. Changing to fill(previous) now shows it correctly.
Cheers

[2020-02-12 14:24] hakana commented on #169
Perfect!

[2020-02-12 14:24] #169 closed

[2020-02-12 15:08] pedrobsm commented on #186
Those vaules are correct, meaning 100 when open. Some are higher than 100, but I'm assuming that it needs a calibration.

[2020-02-12 22:20] chemelli74 commented on #22
No update for 21 days, closing

Simone

[2020-02-12 22:20] #22 closed

[2020-02-12 22:21] chemelli74 commented on #25
No update for 21 days, closing

Simone

[2020-02-12 22:21] #25 closed

[2020-02-12 22:21] chemelli74 commented on #69
No update for 21 days, closing

Simone

[2020-02-12 22:21] #69 closed

[2020-02-12 22:22] chemelli74 commented on #77
No update for 21 days, closing

Simone

[2020-02-12 22:22] #77 closed

[2020-02-12 22:23] chemelli74 commented on #95
No update for 21 days, closing

Simone

[2020-02-12 22:23] #95 closed

[2020-02-12 22:24] chemelli74 commented on #98
No update for 21 days, closing

Simone

[2020-02-12 22:24] #98 closed

[2020-02-12 22:25] chemelli74 commented on #109
No update for 21 days, closing

Simone

[2020-02-12 22:25] #109 closed

[2020-02-12 22:30] chemelli74 commented on #162
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-12 22:34] chemelli74 commented on #165
Thread was about "attribute settings"; and it's fixed in 0.1.6 final release.
You can use:

`attributes: []`

to disable all of them.

I proceed to close this issue,

Simone

[2020-02-12 22:34] #165 closed

[2020-02-12 22:42] chemelli74 commented on #177
@rParslow, did you got the point ? Can you close the issue ?

Thank you,

Simone

[2020-02-12 22:45] chemelli74 commented on #183
@cjramseyer , did you manage to get it working ? If so can you close the issue ?

Thank you,

Simone

[2020-02-12 22:47] chemelli74 commented on #186
If higher than 100 then you have a issue with calibration.
Please redo it and let us know if this fixes both the value and the DB activity.

Simone

[2020-02-12 22:48] chemelli74 commented on #187
Is your config including:

[code]
?

Simone

[2020-02-13 08:14] helmi1987 commented on #187
i have this in the configuration.yaml

`shelly:
  discovery: true  #add all devices (default)
  discover_by_ip:
    - '192.168.100.107'
  sensors:
    - all #show all sensors
  devices:  #configure devices
    - id: "CC95EF-1"
      name: "Heizstrang 1"
    - id: "CC95EF-2"
      name: "Heizstrang 2"
    - id: "CC95EF-3"
      name: "Steckdose"
    - id: "CC95EF-4"
      name: "Heizungsschalter"`

[2020-02-14 09:53] chemelli74 commented on #164
No update for 21 days, closing

Simone

[2020-02-14 09:53] #164 closed

[2020-02-14 09:56] chemelli74 commented on #79
No update for 21 days, closing

Simone

[2020-02-14 09:56] #79 closed

[2020-02-14 17:00] pedrobsm commented on #186
Hi again,

Thanks chemelli. That was actually the issue.
So, when the blind, even after a correct callibration, goes over 100% open (which may hapen because calibration is based on time, not real position), the shelly logs 2 state changes per second! One says position >100, the other one position = -1.
So, this was using 30% of my DB!!!

Is it possible to fix this behaviour? Maybe add a new attrib

[2020-02-14 17:17] emilp333 commented on #139
Any information when Shelly 3EM might be supported?
I have one installed if you need any information.

Keep it up!

[2020-02-15 09:37] SBerg1980 commented on #185
I have the same problem please update

[2020-02-15 11:17] chemelli74 commented on #121
Goign to close the issue, if youo have problem in future feel free to open a new one.

[2020-02-15 11:17] #121 closed

[2020-02-15 11:21] chemelli74 commented on #186
Hi @pedrobsm,

it's a calibrating issue we cannot fix in code; mainly because there is a reason for this kind of error:
https://github.com/StyraHem/ShellyForHASS/issues/156#issuecomment-580421791

[2020-02-15 11:26] chemelli74 opened #190 "Fire persistent notification if roller is not correctly calibrated"
We know that roller may have a current_pos value (http://x.x.x.x/status) out of range ( -1, 101-107), but there is a reason for that: https://github.com/StyraHem/ShellyForHASS/issues/156#issuecomment-580421791.

We should fire a persistent notification to make the user aware there is a issue with Shelly's configuration.
Something like "Roller XXXXXX is not configured: error XXX. Please check docs

[2020-02-15 11:28] chemelli74 commented on #186
Opened a ER: #190

Closing this one, discussion can continue on the other thread.

Simone

[2020-02-15 11:28] #186 closed

[2020-02-15 11:32] chemelli74 commented on #187
Sorry I may be wrong as I don't have a Shelly 4 PRO, but in your screenshto I see 4 entities that have a switch (Heitzstrang 1, Heitzstrang 2, Heizungsshalter, Stechdose).
Some are on, some are off.

Simone

[2020-02-15 11:33] chemelli74 commented on #139
What if we open a thread for each device "family" so we can close each once integrated ?

Simone

[2020-02-15 11:35] chemelli74 commented on #185
Please check how your devices are discovered: mDNS ? CoAP ? IP ?

Simone

[2020-02-15 11:36] RenePhilipse commented on #185
Mine are auto Discovery. In the properties is deze mdns.

[2020-02-15 11:40] kasteleman commented on #185
How can I check how they are discovered?

Op za 15 feb. 2020 om 12:36 schreef RenePhilipse <notifications@github.com>

[2020-02-15 12:19] chemelli74 commented on #185
Istant update works only trough CoAP unfortunately.

Simone

[2020-02-15 12:20] chemelli74 commented on #185
Please click on the shelly entity and check attributes; discovery should be one of those.

Simone

[2020-02-15 12:28] jarnojlaine opened #191 "Shelly 3EM support"
Hello,
First of all LOVE your work and thank you so much for your input for all of us Shelly fanatics.

2nd, 3EM's have started to roll out, just got mine hooked up and would love to see integration for this :)

[2020-02-15 13:25] hakana commented on #191
To help ypu can enable attribute payload in config.yaml and post the result from 3em. Also post result http://xxxx/status and /settings where xxx is ip address of 3em.

[2020-02-15 13:49] rgutialo commented on #183
What version of this component I need for Home Assistant 0.97.2?.
Thanks.

[2020-02-15 14:00] cjramseyer commented on #183
0.1.5 is working for me on HA 0.102.3

CJ Ramseyer
(203) 690-4969
consult<at>techdesk.org
On February 15, 2020 8:49:52 AM rgutialo <notifications@github.com> wrote:

[2020-02-15 14:19] hakana commented on #181
@danygi79

How should the values be presented in HA?

This is the info I got from my Shelly EM:
{"power":-28.97,"reactive":2.15,"voltage":122.10,"is_valid":true,"total":781.7,"total_returned":9.2}

voltage = 122.10 V
current_consumption = -28.97 W
current_reactive = 2.15 W
total_consumption = 781.7 Wh
total_reactive = 9.2 Wh

Should I also add power factor like this?
power_factor = cos(arctan(2.15

[2020-02-15 14:39] hakana commented on #187
Fixed in 0.1.7.B1

@chemelli74, it is the physical switch (input) sensor missing

[2020-02-15 14:45] hakana commented on #183
@cjramseyer
You need HA 0.104.0 or greater for latest (0.1.6) release of ShellyForHASS

I close this issue for now

[2020-02-15 14:45] #183 closed

[2020-02-15 14:52] hakana commented on #168
@chemelli74 I have fixed this in 0.1.7, let me know if any news from Dimitar.

[2020-02-15 14:55] hakana commented on #152
Close this because it is included in #181

[2020-02-15 14:55] #152 closed

[2020-02-15 14:56] hakana commented on #150
Fixed in 0.1.6, please verify and close

[2020-02-15 15:10] RenePhilipse commented on #185
Thanks for the info. How can i switch tot this coap?? I cannot find this clearly in the documentation. Sorry.

[2020-02-15 15:11] helmi1987 commented on #187
Thanks for fixing
There i will wait for next release Update.
Greate Job.

[2020-02-15 15:12] hakana commented on #185
It will use CoAP as default but some router/AP not supporting it. It uses UDP broadcast messages, look if you have a setting for IGMP in your router that you can enable.

[2020-02-15 16:28] paolograssi commented on #185
How can we test if CoAP works in our network? I have the same issue.

Devices are discovered with CoAP but then goes in polling

[2020-02-15 21:03] rParslow commented on #177
Hello
Sorry for the delay to answer

My point was more like to the new cards when there is no Firmware update there is en yellow warning message
![image](https://user-images.githubusercontent.com/1121777/74595075-b77ef780-503d-11ea-9dd8-8edf6b6c7f26.png)

I've installed the auto-entity with a dedicated card for firmware update it's great

Thanks

[2020-02-15 23:46] kuradi commented on #191
please
`{"wifi_sta":{"connected":true,"ssid":"name","ip":"xxx. xxx. xxx. xxx ","rssi":3},"cloud":{"enabled":false,"connected":false},"mqtt":{"connected":true},"time":"01:44","serial":1,"has_update":false,"mac":" xxx","relays":[{"ison":false,"has_timer":false,"overpower":false,"is_valid":true}],"emeters":[{"power":3269.48,"pf":1.00,"current":14.35,"voltage":227.90,"is_valid":true,"total":7589.6,"to

[2020-02-16 10:11] chemelli74 commented on #177
@rParslow , so if I got it right you solve dusing auto-entities card.
If so can you close the issue ?

Simone

[2020-02-16 10:13] chemelli74 commented on #191
@kuradi,thx for the "status" page.

 Can you please post also "settings" ?

Finally, please add "payload" to your configuration.yaml under shelly: Section and post home-assistant.log with CoAP message.

Thank you,

Simone

[2020-02-16 11:44] floge77 commented on #126
Hi @hakana,

I would like to re-open the issue as I experience exactly the same problem and I do not know how to further proceed.

I have a shelly1 running and accessible at 192.168.178.71 in my local network.
I can access the web ui via my notebook, as well as when I ssh into homeassistant and curl the ip address.

configuration.yaml looks like:
[code]
I installed via hacs and run on version 0.16

[2020-02-16 12:00] floge77 opened #192 "No discovery at all or 404 when ip configured"
Hi,

I am not able to get my Shelly1 in homeassistant discovered and I do not know how to further proceed.

I have a shelly1 running and accessible at 192.168.178.71 in my local network.
I can access the web ui via my notebook, as well as when I ssh into homeassistant and curl the ip address.

configuration.yaml looks like:
[code]
I can see in the log following error:

When I configure only `shell

[2020-02-16 12:31] chemelli74 commented on #192
@floge77, please enable debug log for pyShelly and report back.

Simone

[2020-02-16 12:43] floge77 commented on #192
Hi @chemelli74

sure, here is the log:

[code]

[2020-02-16 14:20] #177 closed

[2020-02-16 14:43] hakana commented on #185
It is to type of CoAP messages. One used for discovery and one for sending status messages. For you the discovery is working but not the status messages.

[2020-02-16 15:13] paolograssi commented on #185
Wireshark shall detect it? Looking the list I assume I am not the only one. What is the best troubleshooting approach?

[2020-02-16 19:16] floge77 commented on #192
This is the log when I only configure `shelly:` in configuration.yaml:

[code]

[2020-02-16 19:41] chemelli74 commented on #185
Yup, wireshark will, detect all network traffic. Be aware that you need to run it on HASS to be sure it is received or on the router itself to be sure it get generated.

Simone

[2020-02-16 22:37] emnik commented on #158
Same problem here... Everything was working spontaneously until I changed router! After the change this happens :-(
I have tried all the above... CoAP-discovery works, the command is executed very very quickly but the lovelace button does not update for about a minute (sometimes less but quite long)
Before changing the router this had never happened.

[2020-02-16 23:13] danygi79 commented on #181
all value is correct excetp this:
current_reactive = 2.15 VAr  (no W)

The values ​​presented in my opinion should be:

voltage = 122.10 V
current_consumption = 28.97 W > if value is positive
current_returned = -28.97 W > if current_consumption value is negative
current_reactive = 2.15 VAr > Positive value = inductive load; Negative value = capacitive load
total_consumption = 781.7 Wh
total_return

[2020-02-17 05:53] emnik commented on #185
same here... Used to work though.
I don't know what might caused it to stop as I did change so many things :-(
router (the new one is a TP-Link Archer C3150)
homeassistant update to the latest
shelly update to the latest...
So following here (CoAP discovery works,  first command is instant but status is has a long delay)
I tried all options for IGMP both in router and in shelly config but no chang

[2020-02-17 07:51] emnik commented on #185
enabling the logger in HA I get the following:
When I click to turn on/off:
[code]
* it receives a CoAP message from every Shelly
Then it starts Polling every Shelly:
``` 2020-02-17 09:41:10 DEBUG (Poll) [pyShelly] Polling block, .... ```
When it'll get a response from all the Shellies (including the one I triggered) the state will be updated!
This happens on every click on every shelly. Is this t

[2020-02-17 08:45] RenePhilipse commented on #185
Today I restarted my HA for some other changes and it logs the following errors at startup. Since I saw the word "COAP" in this, I thought it might be connected to this issue. I am using the ShellyForHass plugin version 0.1.6 and HA version 0.105.3.

`2020-02-17 09:37:43 ERROR (Poll) [pyShelly] Error update loop, [Errno 1] Operation not permitted, Traceback (most recent call last):
  File "/usr/lo

[2020-02-17 12:45] emilp333 commented on #191
/settings

`{"device":{"type":"SHEM-3","mac":"*****48C6","hostname":"shellyem3-****227648C6","num_outputs":1, "num_meters": 0, "num_emeters":3},"wifi_ap":{"enabled":false,"ssid":"shellyem3-****227648C6","key":""},"wifi_sta":{"enabled":true,"ssid":"****","ipv4_method":"dhcp","ip":null,"gw":null,"mask":null,"dns":null},"wifi_sta1":{"enabled":false,"ssid":null,"ipv4_method":"dhcp","ip":null,"gw":null

[2020-02-17 12:55] emilp333 commented on #191
I do not see any payload in the log after enabling payload attribute. I do see that attribute in created entities but the 3EM does not get created. I'll check and see if I can adjust log level or something.

[2020-02-17 21:16] kasteleman commented on #113
Yes, finally got it working with pfsense. Keyword: IGMP Proxy
Configured IGMP Proxy with igmp enabled. On the LAN interface where HA runs a downstream type and on the other vlan (shelly devices vlan) a upstream type with network 224.0.1.187.
Now in HA it shows discovery: CoAP-message and no delayed status update any more

[2020-02-18 08:21] theCheek commented on #84
i might just be missing something, but i am not seeing any events for shelly_switch_click.

The switch sensor is now showing up as a binary_sensor - is this normal?

from configuration.yaml:
`  devices:  #configure devices
    - id: "C[redacted]-1"
      light_switch: true  #add this switch as a light
      name: Kitchen Strip Lights
      sensors:
        - switch
        - current_consumption

[2020-02-18 20:00] floge77 commented on #192
Is the problem that I am using tasmota as firmware?

[2020-02-18 20:08] hakana commented on #192
Yes, it only supports Shelly firmware.

[2020-02-18 21:44] gerard33 commented on #84
@theCheek I have the same, but after a long press I see events, see my post above

When just pressing the button once or double clicking, this doesn't show up as an event.

The switch sensors are showing as a binary sensor for me as well.

[2020-02-18 21:59] koooop opened #193 "Shelly 1PM switch showing on/off state even it is unavailable"
Hi,

I have couple of Shelly 1PM switches added via ShellyForHASS. Problem is that they are constantly showing last on/off state even they are unplugged for several minutes and so should be unavailable. I would expect them to become unavailable in a minute after I disconnect them (I do not override unavailable_after_sec setting). They were discovered using CoAP and there is nothing special in my c

[2020-02-18 23:11] #192 closed

[2020-02-19 08:28] theCheek commented on #84
Thanks @gerard33 for confirming this isn't just an issue with my setup. Yesterday when monitoring shelly_switch_click event suddenly it started reacting with the correct feedback, however after I wrote an automation for it (change philips hue lights to different primary colour when number of clicks = 2 ) it didn't work, and then suddently the event monitoring also didn't work. It's weird.

I like

[2020-02-19 09:21] palinf commented on #185
Isn't this issue a duplicate to https://github.com/StyraHem/ShellyForHASS/issues/158 ?

[2020-02-19 09:46] emnik commented on #185
Yes it is...

Στις Τετ, 19 Φεβ 2020, 11:21 ο χρήστης palinf <notifications@github.com>
έγραψε:

[2020-02-19 10:11] palinf commented on #185
I have the same issue with hassio docker installation.
I am not very aware of CoAP protocol but I suppose it is related with some network problem. Since by adding the CoAP shelly discovery is fine (by adding `host_ip:` )
I would suppose that the CoAP clients (shellies) cannot access the CoAP server (ShellyForHASS) to update the status due to some forwarding rules not implemented through docker (pr

[2020-02-19 13:21] GoNzCiD opened #194 "[Question/FR] Too many attributes"
Hi, I have a question about attibutes showed in a light entity.

When `additional_information` is set to True it shows a lot of attributes into the light entity. It's fantastic, but when record is enable for this entity, it's writting continously a lot of entries to database, maybe the signal or temperature changes a lot of times and HA detects a change and write to database.

It should be possibl

[2020-02-19 13:48] hakana commented on #194
Please see readme file, there is a config for this (attributes).

[2020-02-19 14:19] #194 closed

[2020-02-19 14:58] Misiu opened #195 "Shelly Duo support"
As asked in https://github.com/StyraHem/ShellyForHASS/issues/139 I'm creating this issue to track adding support for Shelly Duo.
CoAP payload and `/settings` info will be ok for start?

[2020-02-19 19:09] catalinbordan commented on #182
Same issue here too. the update is for every minute.

[2020-02-19 19:11] catalinbordan commented on #178
It related to the firmware of shelly.
if you want a persistent values, you can use this sensor as a source for utility meters in HA

[2020-02-19 19:18] catalinbordan commented on #168
looking forward to see it 0.1.7, because it is not public to test it.
anyhow with the values in wh in HA I can not find a way to check it with shelly cloud.
can we have a posibility/option to convert it to kWh? plus we can use it as a source for utility meter.

[2020-02-19 20:10] rParslow commented on #178
Thanks
this is what I was looking for

[2020-02-19 20:10] #178 closed

[2020-02-19 22:35] chemelli74 commented on #185
let's pn

Let's continue there.
Thank you for noticing.

Simone

[2020-02-19 22:35] #185 closed

[2020-02-19 22:38] chemelli74 commented on #139
Individual issue for each family opened: #191 and #195.
Closing.

Simone

[2020-02-19 22:38] #139 closed

[2020-02-19 22:39] chemelli74 commented on #182
Should we continue on #158 ?

Simone

[2020-02-19 22:45] chemelli74 commented on #166
No update for 21 days, closing

Simone

[2020-02-19 22:45] #166 closed

[2020-02-19 22:46] chemelli74 commented on #162
No update for 21 days, closing

Simone

[2020-02-19 22:46] #162 closed

[2020-02-19 22:50] chemelli74 commented on #125
@hakana, cn you please review this comment about code typo to fx the issue ?

Simone

[2020-02-19 22:51] chemelli74 commented on #132
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-19 22:54] chemelli74 commented on #150
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-19 22:56] chemelli74 commented on #161
Isn't updating or is just slow ( like 60 secs) ?

Simone

[2020-02-19 22:58] chemelli74 commented on #179
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-19 23:00] chemelli74 commented on #184
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-02-20 05:21] dodg3r commented on #182
Why continue in 158 ?
Everything works except for power consumption as I descriped above.
In 158 state updates of lovelace is slow ? That works for me.

[2020-02-20 05:45] dodg3r commented on #161
Its slow. Like 60 sec :)

[2020-02-20 07:29] maverick1975 commented on #125
@chemelli74  I don't find const.py file ... in custom_components > shelly file not present

tank's

[2020-02-20 07:48] chemelli74 commented on #81
No update for 21 days, closing

Simone

[2020-02-20 07:48] #81 closed

[2020-02-20 07:54] chemelli74 commented on #182
Sorry, didn't get that is only power slow.
Can you all check on http://x.x.x.x/status if it's refreshed more often than once per minute ?

Simone

[2020-02-20 08:05] chemelli74 commented on #168
Dimitar reported that both ShellyEM and Shelly3EM will report Wh; it's not a bug, it's a by-design behaviour.

As you have changed code already, will close this issue.

Simone

[2020-02-20 08:05] #168 closed

[2020-02-20 08:07] chemelli74 commented on #142
@sti0, any update ?

Simone

[2020-02-20 08:12] chemelli74 commented on #125
Which version of this plugin are you running ? File "const.py" is there on latest 0.1.6

Simone

[2020-02-20 08:23] chemelli74 commented on #114
Cannot find documentation reference anywere :-(

Simone

[2020-02-20 08:24] chemelli74 commented on #195
Hi @Misiu, please share /status, /settings and CoAP payload.

Thank you,

Simone

[2020-02-20 08:26] chemelli74 commented on #193
@koooop, can you post a debug log starting just before you disconnect them and going on after for a while ?

Simone

[2020-02-20 08:31] chemelli74 commented on #175
@antivirus68, @pavolholes, @JesCR please share a debug log. Be aware that it can be really verbose.

Simone

[2020-02-20 08:32] chemelli74 commented on #161
Please upload a debug log. Be aware that is really verbose.

Simone

[2020-02-20 08:34] chemelli74 commented on #153
For now we prefeer to control manually the status of all issues.
Maybe we'll implement in future.

Thank you for your suggestion!

Simone

[2020-02-20 08:34] #153 closed

[2020-02-20 08:36] chemelli74 commented on #155
Would getting the type from cloud work ? You can set socket or light in Shelly app.
This is the way Alexa skill works.

Simone

[2020-02-20 08:40] chemelli74 commented on #143
Let's go with the workarround for 2 reason:

- author want to avoid making this plugin too complex
- we have other features to implement for those requests that have no workarround

Simone

[2020-02-20 08:40] #143 closed

[2020-02-20 09:24] koooop commented on #193
@chemelli74 Thanks for offering help. I already flashed all my Shellys with Tasmota so don't really have  option to reproduce it. Feel free to close this unless someone else is facing it.

[2020-02-20 09:29] hakana commented on #125
This is solved in the latest stable release (0.1.6).

There is a bug in 0.1.6 that gives the wrong value of total_effect for Shelly EM, will be fixed in the next release.

[2020-02-20 11:34] maverick1975 commented on #125
i update 0.1.6 but in const.py not present in line 21 "STATUS_RESPONSE_METERS"

[2020-02-20 11:56] chemelli74 commented on #125
As per author comment, please try without changing the code.

Simone

[2020-02-20 18:17] antivirus68 commented on #175
Here is some log.

Just some more info:

I didn't set any scan_interval, I left the default.

I set the logger:

[code]

Shelly 2.5 E66FBE-1 is detected with mDns
Shelly 1PM 76C246 is detected with CoAP-discovery
Shelly 1PM 76AFA4 is detected with mDns
Shelly 1 93B635 is detected with mDns

I have turned on and off the Shelly 1PM 76C246, and the switch is updated only after about 30sec.

[code]

[2020-02-20 18:50] maverick1975 commented on #125
Nothing 😅 voltage not present!!

[2020-02-20 19:17] ameennihad commented on #195
Hi @chemelli74, I also need this feature, can you tell me how can I get /status, /settings and CoAP payload to share here?

[2020-02-20 19:21] ameennihad commented on #195
Will this help?
shellies/ShellyBulbDuo-123456/light/0/status {"ison":true,"brightness":100,"white":1,"temp":2738}

shellies/ShellyBulbDuo-123456/light/0/command on
shellies/ShellyBulbDuo-123456/light/0/command off

shellies/ShellyBulbDuo-123456/light/0/set {"brightness": 30, "white": 45, "temp": 2738, "turn": "on"}

brightness: 1-100 (optional)
white: 1-100 (optional)
temp: 2700-6500

[2020-02-20 19:47] Misiu commented on #195
`/status`

[code]

`/settings`

[code]

[2020-02-20 21:49] hakana commented on #195
Thanks, I just received some DUO so I can test myself now. There is a problem with the CoAP messages on DUO, so I'm waiting for a new to test with.

[2020-02-20 21:51] hakana commented on #125
Sorry, my fault. It will be included in next release 0.1.7, beta 1 will soon be available for test.

[2020-02-21 10:33] GoNzCiD opened #196 "Extra total consumption attribute added."
Hi, I've trying latest [0.1.6 version](https://github.com/StyraHem/ShellyForHASS/releases/tag/0.1.6) and it's amazing (thanks) to use attributes collection in order to not over use recorder, like described in RN `Default attributes have changed to decrease database activity, can be configured by attributes setting`

But I have notice that if I only want to add `has_firmware_upgrade` and `consumpti

[2020-02-21 11:43] claustro opened #197 "Password request during integration"
Hi all , excuse me for this dumb question .  But when I try to integrate Shelly smart home in home assistant it ask me for a password. Which password is it? I tried the shelly cloud one but it doesn't work

My device is discovered using simply
` shelly:
discovery: true`
but I would like to link the names of devices to the cloud one so I tried to use

[code]
but is doesn't work.
No errors on log

t

[2020-02-21 13:05] hakana commented on #197
The integration only working by adding it using config.yaml. The dialog you have in the picture is not working.
Did you found the auth-key in my shelly cloud?

[2020-02-21 19:43] ameennihad opened #198 "Shelly 1 - No response to On/Off commands"
Home Assistant 0.105.4
Release 0.1.6

Some of my Shelly 1 devices report the status normally but I can't switch them on/off, following are some screenshots for working not working devices, any idea what can be the reason?

Note that all Shelly 1 device are running  latest firmware and not connected to cloud:
_**The current Firmware version of your Shelly device is 20200206-083100/v1.5.10@e6a4205e

[2020-02-21 20:47] niklasfink commented on #184
Hi @chemelli74, I'm running default settings with just `shelly:` in my configuration.yaml and I'm missing temperature readings for all Shelly 2.5s:

![image](https://user-images.githubusercontent.com/1809301/75070551-b47b7f80-54f3-11ea-9421-9b82fbc97fe2.png)

[2020-02-21 21:02] niklasfink opened #199 "Shelly 2.0 Roller Position Bug"
Hi, the positioning for my Shelly 2.0 roller mode doesn't work properly.
The positions reading always jumps back to the last position and stays there, even after the shutter finished the movement.

I made a quick Video here where you can see the issue. You can also see when the shutter is moving, when one of the arrow buttons on the top right are greyed out.
https://imgur.com/a/smTU07S

HA V0.105.

[2020-02-21 21:41] ameennihad commented on #198
I figured out the cause of this issue, on my first batch of Shelly 1 devices I enabled RESTRICT LOGIN, I removed that from one of the devices and I can control it normally now form HA.
What would be the solution if I want to keep RESTRICT LOGIN enabled?

[2020-02-21 21:55] chemelli74 commented on #198
@ameennihad, currently you have to set the same login to all devices (or to none of them).

Simone

[2020-02-21 21:59] chemelli74 commented on #184
You posted a screenshto of a Shelly in roller mode, but issue is about relay mode...

Simone

[2020-02-21 22:06] niklasfink commented on #184
Hey @chemelli74, it seems like it doesn't matter which mode it is, as temperature information is given independent to the mode (for example via MQTT) and should therefore be available.

It seems that it cannot be narrowed down to Relay Mode, as this problem is also appearing for me with Roller mode. (Except I'm doing something wrong)
Given the generic naming of this issue, I think this fits in her

[2020-02-21 23:00] chemelli74 commented on #184
Works fine here:

![image](https://user-images.githubusercontent.com/57354320/75078571-3d031b80-5506-11ea-8135-d1a53481d50d.png)

Simone

[2020-02-21 23:11] hakana commented on #198
You can also mix devices with none and restricted login, but all restricted need same user/password

[2020-02-21 23:12] hakana commented on #199
What is the value on position if you go url /status?

[2020-02-22 04:09] #198 closed

[2020-02-22 08:18] niklasfink commented on #199
/status shows the new (correct) value. `rollers.current_pos: [correctValue]`

[2020-02-22 08:20] niklasfink commented on #199
I can see that after around 10 seconds, the HA UI gets updated to the correct value. However, the /status already updates right after the movement finishes.

[2020-02-22 08:24] niklasfink commented on #184
Did you manually enable these stats in your configuration.yaml? I understood the readme that all sensors are enabled by default.

[2020-02-22 08:33] hakana commented on #184
sensors: -all should enable all sensors.  Can you check if you have any errors in log?

[2020-02-22 09:41] niklasfink commented on #184
Explicitly setting sensors: -all solved it

[2020-02-22 10:24] tiberius25 opened #200 "A period of Total consumption"
Hi,
Tnx a lot for your plugin.
My question is: for what period is the data displayed in the sensor "Total consumption"? Because this data does not correspond to what I see in my Shelly cloud neither in 24 hours, nor in a week.  And I can’t catch the moment when this sensor is reset.
![Annotation 2020-02-22 122200](https://user-images.githubusercontent.com/54347519/75090696-2d1f2200-556e-11ea-9a6a-

[2020-02-22 18:35] VaabenDK commented on #158
I also experience problems with Shelly and COAP.
I'm running HassIO on a RPI so I expect Home Assistant is running in Docker?
After being thru all network settings in my Unifi network and doing a wireshark on another PC aside from Shelly and the RPI, I can see that all the multicast packages are on the network - both when connecting wired and wireless. I get a lot of COAP messages from the Shellie

[2020-02-22 22:39] chemelli74 commented on #184
@max-rh di you manage to fix your problem ? Can we close this issue ?

Simone

[2020-02-22 23:10] max-rh commented on #184
Hi @chemelli74, so sorry for the late reply.
unfortunately no, the issue is still present... and yes i do have "-all" explicitly defined.

[2020-02-22 23:11] chemelli74 commented on #184
can you share debug log, configuration.yaml and screenshot ?

Simone

[2020-02-22 23:46] max-rh commented on #184
@chemelli74
Here is my configuration.yaml:
![image](https://user-images.githubusercontent.com/25219094/75100946-b6ba0880-55dd-11ea-8582-04964674ad36.png)

and here is that shelly's integration:
![image](https://user-images.githubusercontent.com/25219094/75100964-2cbe6f80-55de-11ea-9faf-beb324a4a8cb.png)

as for the debug; i am not seeing any logs regarding my shellies.

Thanks

[2020-02-23 08:23] hakana commented on #158
Try tcpdump in docker container and see if you can see the CoAP messages

[2020-02-23 09:11] VaabenDK commented on #158
I've installed the community ssh plugin in HA, then installed tcpdump. The only Ip adresses i saw is from 172.30.32.1 - no multicast messages or anything from my 192.168.2.0/24 subnet.
What I noticed now is that I get the quick response right after a restart of the RPI host. this could indicate that some other docker container starts up after hassio and maybe interrupts something?
I'll try later t

[2020-02-23 09:44] chemelli74 commented on #184
why discovery false ?

Simone

[2020-02-23 11:37] emilp333 commented on #179
What's your question @chemelli74. I think the information provided is perfectly clear. Default logging of this component outputs this just like the example from first post.

This started in version 0.1.6. So you tell us if that is your desired "default" log level.

And this does not change anything either.
`logger:
     logs:
         pyshelly: warn`

[2020-02-23 14:32] dodg3r commented on #182
Hi.
If I check the status of the plugs power consumption it changes instant.
But it takes exactly 1 minute for lovelace to change.

[2020-02-23 15:45] emnik commented on #158
How come CoAP discovery works but CoAP update messages doesn't? What's so
different between them?
And a question that I've seen made many times but not answered yet. Is
there something else besides igmp proxy and igmp snooping enabled that we
can do in the router's configuration?

Στις Κυρ, 23 Φεβ 2020, 11:11 ο χρήστης VaabenDK <notifications@github.com>
έγραψε:

[2020-02-23 18:48] xatr0z commented on #84
Having the same issue, will watch this for updates. Some info:

- Shelly 2.5
- Switch connected to 0 in detached mode
- When I toggle the switch I can't see any event when listening to *.
- However the MQTT message is published, and I can see the binary_sensor entity.

[2020-02-23 18:58] paolograssi commented on #84
All, I fully understand that MQTT stops cloud but I just configured it and works extremely well.

Consider it as another option?

[2020-02-23 19:33] VaabenDK commented on #158
I discovered while testing that the slow updates (using polling) only happens when the dimmers is configured with inputs in "detached mode". As soon as I change them to actually control the dimmer directly, the reaction is instant.
I'll create seperate bug report for this as it is another issue

[2020-02-23 19:49] chemelli74 commented on #158
Debug log says what ? Polling ?

Simone

[2020-02-23 19:52] chemelli74 commented on #158
Thx for the feedback. Please update this thread as soon as Dimitar give you a feedback.

Simone

[2020-02-23 19:56] chemelli74 commented on #179
If you want to fix the issue you nee dto change your logger config.
Here is working just fine.

If you have default info and wrong component name, it won't work.
Please try using:

[code]

Simone

[2020-02-23 19:59] chemelli74 commented on #182
Can you please try enabling debug log and check if CoAP message is received istantly or is delayed ?

Simone

[2020-02-23 20:03] chemelli74 commented on #158
Maybe you can enable debug log and see if those are received or not, and if yes if they are delayed or istant.

Simone

[2020-02-23 20:05] chemelli74 commented on #84
Nope, as you already have MQTT integration ;-)
This plugin is about having an alternative to get both Cloud and local.

Simone

[2020-02-23 22:05] emnik commented on #158
using Wireshark at the Pi I get CoAP packages with:
[code]
This is the discovery messages if I understand correct.

I don't get another type of CoAP messages and in the debug although I see: Discovery CoAP messages send and received I don't see any device status messages to be send.

Shouldn't a CoAP GET message in /cit/s to be send from HA like described in https://shelly-api-docs.shelly.cloud/#c

[2020-02-23 22:18] chemelli74 commented on #158
Using "**tcpdump -A udp port 5683**":

`E....................3.3...IP..;.cit.s....SHSW-25#xxxxx#1.C......{"G":[[0,112,0],[0,122,0],[0,111,0.000000],[0,121,0.000000],[0,118,0],[0,128,2],[0,115,54.38],[0,116,129.88],[0,117,0]]}`

Simone

[2020-02-23 22:27] peter-ciccolo opened #201 "Shelly H&T shows humidity as 2x actual reading"
e.g., if it shows 50.5% in the app, the reported value in HA is 101

<img width="370" alt="Screen Shot 2020-02-23 at 2 22 36 PM" src="https://user-images.githubusercontent.com/47834747/75121420-a8550680-5648-11ea-8f1a-1704a7a94ccf.png">

[2020-02-23 22:29] chemelli74 commented on #201
Can you please check CoAP message using debug log ?
Thank you,

Simone

[2020-02-23 23:02] peter-ciccolo commented on #201
Hi @chemelli74 , I don't see any relevant logs at `debug` or above. Am I missing something? Here is my logger config at the moment:

[code]

[2020-02-23 23:14] max-rh commented on #184
Hi @chemelli74 ,

I have alot of shellies and alot more to install and they are located behind multiple VLANs, so turning discovery on makes managing them a nightmare, so i have all my shellies statically assigned via my DHCP server and i add them manually to help manage them.

But turning off discovery never been an issue, this issue only happened few releases ago.

Thanks

[2020-02-23 23:18] chemelli74 commented on #201
You should see CoAP messages and inside them the value received from the fw.

Simone

[2020-02-24 11:24] emilp333 commented on #179
Ok, I still think you misunderstand my question and I can see it got missed in the formating in my previous post. This is fixed now.
[code]
This started in version 0.1.6. So you tell us if that is your desired "default" log level?
And for the record the default log level in Home Assistant is "info" if you do not specify anything else.

Please try using:
logger:
  default: warn

The above would cha

[2020-02-24 11:25] emilp333 commented on #191
Any progress on this? Do you need any other input?

[2020-02-24 13:18] chemelli74 commented on #179
If you have info as default for HA, Shelly honors it and thus you get the above message.
You have only 2 options:

- change the log level for HA to "warn" or anything you like. ShellyForHASS will honor it.
- change the log level only for this plugin using:

` pyShelly: warn
`

Indeed, it is.

See above comments and or few lines in this comment ;-)

Simone

[2020-02-24 13:21] chemelli74 commented on #184
Can you enable debug log and share ?

Simone

N.B: Can it be that you disabled some entities in the past ?

[2020-02-24 13:23] emnik commented on #158
[code]
The 192.168.0.8x are the Shellies
The 192.168.0.50 is the home assistant host
The 192.168.0.7 is my android phone with the Shelly app
So shelly app does indeed issue a GET command to /cit/s but (for me) homeassistant doens't :-(

I can understand  CoAP packages might not reach HA but I can't understand why I don't see a GET command to /cit/s originating from HA. The same results I also get

[2020-02-24 13:46] chemelli74 commented on #158
Which flags you use on calling tcpdump ?
I run "**tcpdump -A udp port 5683**"

Output is:

[code]

Simone

[2020-02-24 16:43] vistalba commented on #150
For me it looks like it works.

[2020-02-24 18:45] chemelli74 commented on #150
Thx for confirming.

Simone

[2020-02-24 18:45] #150 closed

[2020-02-24 19:57] emilp333 commented on #179
Ok. I still think you are avoiding the question.

So you have added more information in the "info" log level for 0.1.6 and this is intentionally?

This component will by default output one of these for every Shelly device channel every 3 seconds.
```home-assistant   | 2020-02-24 20:52:00 INFO (CoAP) [pyShelly] Update id:007***-1 state:0.0 stateValue:None values:None info_values:None```

So my poin

[2020-02-24 20:31] emilp333 commented on #179
And as I stated above this does not work either.
[code]

[2020-02-24 21:34] TASSDevon commented on #179
The code I pasted some time ago works fine. No clue why it would not work for you (have you triple checked?)

True some additional logging has been added at the Info level that, in my opinion, might be a bit verbose and it is debatable if it should be debug or info level. Thing is chemelli74 has given plenty of info on how to make sure these new loglines do not appear in your log when using info a

[2020-02-24 21:35] TASSDevon commented on #179
And with that, let's close the issue, it has been resolved.

[2020-02-24 21:35] #179 closed

[2020-02-24 22:08] NateLogan opened #202 "Shelly EM total consumption"
Hello,

I am trying to set up Shelly EM power meter, but recieved value for total_consumption_attr is wrong. In fact, it is 60 times lower than what I get from REST command or from Shelly cloud.

This seems to be an issue only with EM, other Shellies looks OK.

In this screenshot, first and third values are from ShellyForHASS, second and fourth are from REST sensor.

![Screenshot_20200224_223221_c

[2020-02-24 22:30] mariobarisic commented on #161
I'm also experiencing this behavior with my Shelly dimmer. Latest HASSIO on Rpi3 B+ and latest Shelly for HASS Integration installed (0.1.6). With all of my Shelly 1 and Shelly 2.5 devices switch state is updated in Lovelace or in state card under attributes... Can you fix this so I can use event click option for multiple presses of the push button connected to the shelly dimmer switch input #1.

[2020-02-24 22:53] NateLogan commented on #200
Same issue here. I think that the Shelly for Hass is dividing the total consumption by 60... Also Shelly EM doesn't reset the total consumption counter.

[2020-02-25 05:27] tiberius25 commented on #200
What 60?.. And i mean resetting the counter of shelly plugin's sensor.

[2020-02-25 07:25] peter-ciccolo commented on #201
These are the only logs I see:
[code]

[2020-02-25 08:03] chemelli74 commented on #202
Known issue, fixed in upcoming 0.1.7b1

Simone

[2020-02-25 08:03] #202 closed

[2020-02-25 08:30] vistalba commented on #200
The value is since last reboot of shelly.

[2020-02-25 08:38] vistalba opened #203 "[FR] allow power_decimals also as device config"
Feature Request:

Also allow use of `power_decimals` on device config.

I've different energy meters. One of them has a very constant load. So I use `power_decimals: 1` to get updates more often (maybe 2-4 times in 5 minutes).

The other energy meter has a very vaiable load. Here I want to use `power_decimals: 0` so that the values doesn't change so often and save some space because my DB is growi

[2020-02-25 08:45] vistalba opened #204 "Write current_consumption at least every hour"
Feature Request:

Write current_consumption value at least every hour to DB so that utility_meter can measure energy correctly.

If you've very static load like a heater which is using eg. 18W for 10h a day utility_meter stays at 0 kWh because there is no change of the load (W) in current_consumption. This results in inaccurate values because kWh values are not updated for 10h.

[2020-02-25 09:56] emilp333 commented on #179
Hey.
Dont take me wrong but issues in an open Github repo is partly for the community to help find bugs and improvements.
Just like I'm stated above "This is only my opinion."

Then next I'm trying to point out the syntax of logger. This is again to improve the code. It's not criticism.
https://www.home-assistant.io/integrations/logger/

[2020-02-25 10:21] emnik commented on #158
this is what I get (repeatedly):
[code]

[2020-02-25 12:09] chemelli74 commented on #204
Why are you using utility meter for current consumption ?
I use it for historical data (daily, monthly) but for current I just sum all sensors.

Simone

[2020-02-25 12:11] chemelli74 commented on #200
If you want to compare values you need to use **utility_meter** in HA.
Shelly's firmware has a total increesing value since last reboot.

Simone

[2020-02-25 12:20] vistalba commented on #204
No... I think you don't understand.

`current_consumption` is the value of now. It results in kWh (W/min) if you add the "time" dimention.  Utility_meter does this. It looks on the `current_consumption` value and the time and does show you how much energy you used in a period of month/week/day/year... or whatever you define. If the value is 10h old... it doesn't calculate the kWh value.

`total_co

[2020-02-25 12:26] chemelli74 commented on #179
Again, works here.
Did you mind posting your configuration.yaml to check ?
Otherwise I have no other input to give you.

Simone

[2020-02-25 12:30] chemelli74 commented on #161
@mariobarisic , like asked to @dodg3r we need at least debug log to start digging into the issue.

Simone

[2020-02-25 12:31] chemelli74 commented on #201
Sorry @peter-ciccolo, I didn0t see that you miss:

`pyShelly: debug`

in your logger configuration.
Please update and report back.

Simone

[2020-02-25 12:34] chemelli74 commented on #182
Shelly's official support informed me that current consumption is updated as follow:

- every 30 seconds
- immediatly if there is a 10% delta value

At this point, I'm going to close this issue.

Simone

[2020-02-25 12:34] #182 closed

[2020-02-25 12:36] emilp333 commented on #179
Yes, this is from my configuration.yaml.

[2020-02-25 12:37] emilp333 commented on #179
And this is the shelly part of my configuration.yaml.
[code]

[2020-02-25 12:42] chemelli74 commented on #204
Hi, sorry but this is not the intented usage.

I'm on "current_consumption" for istant values; and as such I don't care to store them.

I use instead total_consumption for your use case. As utility_meter does the math: store the difference between current and previous value. Not the absolute value.
So even if you reboot the Shelly, it will store the sum of all consumptions based on total (from CoA

[2020-02-25 12:45] chemelli74 commented on #179
As you aren't posting the whole configuration.yaml for a check I have no other choice than locking this thread.
Sorry,

Simone

[2020-02-25 12:45] emilp333 commented on #204
I think you got it wrong Vistalba. I did the same mistake with the utility meter in the past.
`current_consumption`will give you the value of the energy right now in W. Not Wh or kWh.
Utility meter calculates the differences between the values but operates in kWh or Wh whatever you send in to it.
But to make a proper energy consumption calculation you need to take the current consumption and do th

[2020-02-25 12:52] emilp333 commented on #204
This is an example:
In your sensor component configuration:
[code]
In your utlity_meter configuration:
[code]
If the `totalt_consumption` attribute was not reset then you could use that to feed utility meter instead. But you cant use the current_consumption to feed utility meter.

[2020-02-25 12:53] emilp333 commented on #204
Or maybe it even works like @chemelli74 said if Utility meter handles the reset of totalt consumption. I was unaware of that. I was afraid it would count back if that was the case.

[2020-02-25 12:54] chemelli74 commented on #158
Did you give it enought time ?
From your dump seems you miss the "cit.s" from Shelly to HASS.

It may indeed be a network problem. Mine was solved changing router (From provider's one to Fritzbox 7590).

Simone

[2020-02-25 12:57] vistalba commented on #204
This is exactly what I'm doing.
I use `current_consumption` and use integration and utility_meter to calculate kWh from W.

But... why I open this issue is... if you have static load that uses constant 18W for 10h then after 59 minutes the kWh from utility_meter is still 0 because there is no new value (what is wrong, it is just the same as before). This results in wrong calculation.

[2020-02-25 12:58] vistalba commented on #204
Didn't tried that and I also don't see why I should try and loos all of my history. That is not the sense of my energy monitoring.

[2020-02-25 13:15] dodg3r opened #205 "Slow update of current consumption"
Hi.

I dont understand why you close the thread before I can reply.
This is not the case...

If revert back to version beta 8 it works.
There is something wrong i the latest version.

Look at this video: https://share.icloud.com/photos/0uG8d6kRDC-HsNPHxXhUuJNCA

My DEV install on the right is on beta 8.
My PROD install is on latest 0.1.6

when I turn on my plug:

2020-02-25 13:53:00 DEBUG (SyncWor

[2020-02-25 13:37] petergebruers commented on #191
I can see COAP messages by using Wireshark... This is the decode... does this help?

`{"G":[[0,112,0],[0,111,47.360000],[0,114,0.312814],[0,115,0.640570],[0,116,236.125200],[0,121,5.220000],[0,124,0.399388],[0,125,0.055230],[0,126,236.817000],[0,131,53.000000],[0,134,0.952381],[0,135,0.236290],[0,136,235.659600]]}`

I cannot get 100% identical numbers from status page, my guess is the internal sam

[2020-02-25 13:41] dodg3r commented on #155
Hi.

Yes, good idea..

[2020-02-25 13:50] NateLogan commented on #200
Yeah, I have configured an utility meter for heatpump (measured by Shelly EM) and right now today's consumption is 5439 Wh (data from Shelly cloud), but HA utility meter shows only 91 Wh. And 91x60 is 5460...

Although it might be a bug on Shelly side.

Also I'm pretty sure that Shelly EM and 3EM are only Shelly devices, which keep total consumption between restarts.

[2020-02-25 13:52] emilp333 commented on #204
Do you mean that your integration sensor is also 0? That sounds strange.

I do not think the utlity meter is reseted when you change the source.

[2020-02-25 14:04] vistalba commented on #204
Yes. Until next value change the utility_meter value is 0. Everything is working fine as long as the `current_consumption` value changes often enought (so, at least one time a hour) to calculate hourly kWh usage.

[2020-02-25 14:40] vistalba commented on #205
@dodg3r

Is host 192.168.1.68 in the same subnet as hassio.local?
Shelly uses CoAP discovery which is mDNS/multicast based and doesn't work (without extra configuration) in different networks.

Are both (dev/prod) Homeassistant installations in same Subnet as the Shelly? As it looks to me like it updated after 60 seconds (timeout to pull the device manually?)

[2020-02-25 14:42] chemelli74 commented on #200
I bet we can close this issue, right ?

Simone

[2020-02-25 14:43] chemelli74 commented on #204
@vistalba you can create a new sensor, and only once it's working remove the old one. So you don't risk your data.

Simone

[2020-02-25 14:44] chemelli74 commented on #204
Definitly a issue somewhere, doesn't work like this here.
Can you enable debug lof for "pyShelly" and see if the coAP incoming message is wrong ?

Simone

[2020-02-25 14:45] dodg3r commented on #205
Yes they are on same subnet, dev is on 192.168.1.93.

If I update my dev installation with 0.1.6 i get the same delays. I then reverted to beta 8 and the delays is gone.
Is there someone out there with 0.1.6 without the delays ?

[2020-02-25 14:46] vistalba commented on #204
Is there a how to?

[2020-02-25 14:48] chemelli74 commented on #205
Just to clarify: you receive CoAP mesasge after few seconds;
with 0.1.6b8 you have a lovelace update after few seconds;
instead with 0.1.6 final you have a lovelace update after 40 seconds.

Please correct me if I'm wrong.

Simone

[2020-02-25 14:51] chemelli74 commented on #204
https://github.com/StyraHem/ShellyForHASS/wiki/FAQ4:-Enable-debug-log

Simone

[2020-02-25 15:16] dodg3r commented on #205
Yes youre right.

In my dev installation with beta 8 installed i get the first coap message 4 seconds after turning on my plug. Lovelace updates at that point and shows the consumption.

In my prod installation with 0.1.6 installed i get the first coap message after 4 seconds after turning on my plug but lovelace doesnt update, it still shows 0 in consumption.

[2020-02-25 15:19] chemelli74 commented on #205
Do you mind testing also b9 and b10 ? So we can narrow the issue dow to a specific bild.

Simone

[2020-02-25 16:04] dodg3r commented on #205
Hi.

Updated to beta 9 and the delays are back.
So beta 8 is working and beta 9 - 0.1.6 is not working.

[2020-02-25 22:48] mariobarisic commented on #161
@chemelli74 is there some special debug log for this integration or you need just regular HA logg for inspection and analysis?

[2020-02-25 22:58] chemelli74 commented on #161
https://github.com/StyraHem/ShellyForHASS/wiki/FAQ4:-Enable-debug-log

Simone

[2020-02-26 07:02] mariobarisic commented on #161
OK, here is DEBUG log from HA, I hope it helps:

[pyShelly.log](https://www.dropbox.com/s/6o44cbd930fqlch/pyShelly.log?dl=0)

Mario

[2020-02-26 07:42] dodg3r commented on #161
the /status page of my dimmers doesnt update either so maybe there is a bug in the dimmer ?

[2020-02-26 08:52] peter-ciccolo commented on #201
Thank you @chemelli74 . Here are logs including a bunch of CoAP messages:

[code]

[2020-02-26 09:00] mariobarisic commented on #161
Nice finding @dodg3r  I will try the same on both of my dimmers. I have pressed pushbutton rather long but maybe not long enough. It's very strange that switch input on Shelly1 is almost instant in Lovelace and on dimmer is so delayed?!

[2020-02-26 12:36] chemelli74 commented on #161
Please check if the CoAP message is received in time or delayed.
We need to understand if the issue is in the firmware sending a late message or in ShellyForHASS non handling it (similar issue to #205 ).

Simone

[2020-02-26 14:13] mariobarisic commented on #161
@chemelli74 how can we see CoAP messages? In Home Assistant or via shelly cloud API? Sorry for Noob question.
Small update, I have made small automation, when I press push button on dimmer switch input1 longer then 1s HA brightness will be set to 50%. Yesterday i have tried several time to activate, execute automation but without any success. Then I realize that input switch is not updated when pr

[2020-02-26 14:28] dodg3r commented on #161
I think that the dimmer it self has some function build in.
If you doubleclick, the dimmer it self sets 100% dim. So using automation on dimmer switch 1 isnt a good idea i think :)
But I´m trying to use switch 2 with another light but i´m using momentary switches and becuase of the delay by 4 seconds hassio doesnt react to my on/off command.

[2020-02-26 14:48] iz3man commented on #191
I got this installed a week ago as well. Can I do anything to support?
It would be especially helpful to get the "used energy" from the device (last 24h, day, week, month, year ..). Everything else can be seen over MQTT already, still it's nice to have this installed via "integrations."

[2020-02-26 14:56] dodg3r commented on #161
If I press switch2 with a single click (on/off) then I get this message and no lovelace update. (/status updates immediatly).

`2020-02-26 15:40:59 DEBUG (CoAP) [pyShelly] CoAP msg: 192.168.1.51 b'P\x1e\x07\xd2\xb3cit\x01s\xed\x0b\xec\x02SHDM-1#XXXXXX#1\xd2C\x96\x00\x82L\x00\xff{"G":[[0,111, 100],[0,121, 0],[0,131, 0],[0,141, 0]]}'
2020-02-26 15:40:59 DEBUG (CoAP) [pyShelly] CoAP msg: 30 192.168.1

[2020-02-26 16:45] dodg3r commented on #205
Hi.

Running 0.1.6 and I can see that current_consumption in attributes updates within 4 seconds. But the sensor current_consumption doesnt update until next poll.
Look at the video
https://1drv.ms/v/s!AgZRSIF72Mnv6hySBDHXf3OoChkW?e=7hZLtt

[2020-02-26 18:51] JamesT42 commented on #191
The Shelly EM has used energy etc. available via MQTT, so I think this is an oversight that it is missing from the 3EM MQTT data...

[2020-02-26 21:43] chemelli74 commented on #161
@dodg3r nice finding, thx for your testing!

At first sight, I would say lovelace updates as soon as the correct CoAP message arrives; so is more a fw issue.

Simone

[2020-02-27 08:10] max-rh commented on #184
Hi, @chemelli74 sorry for the delay,
No, I haven't disabled any entities in the past,

could you please explain how to enable the ShellyForHass log and share it?, or do you mean the HA log ?

[2020-02-27 09:47] chemelli74 commented on #184
https://github.com/StyraHem/ShellyForHASS/wiki/FAQ4:-Enable-debug-log

Simone

[2020-02-28 18:38] joelevi commented on #111
My Shelly app is set to read H&T temperature values in F, but the HA integration seems to assume it's in C, and does the calculation again.

For example:
 - Sensor 1 is set to F and reports 69.6 degF in the Shelly app
 - Sensor 1 reports 157.23 degF in Home Assistant

[2020-02-28 19:33] emnik commented on #158
Yes I gave it quite a time. You see... I did exactly the opposite from you!
I had the provider's router which worked with coap but I changed it for a TP-LINK Archer C3150 which has many more capabilities. The reason was that I had many WiFi devices that the provider's router was struggling and I had disconnections, poor speed when streaming or downloading etc. All these are solved now but CoAP is

[2020-03-01 15:14] colinfrei opened #206 "[FR] long press event"
It'd be nice to be able to identify long presses. Afaict shelly itself allows adding events for that, but I don't seem to be able to recognize that a press was a long press on home assistant.
I'm using a shelly 1 and a 2.5

[2020-03-01 18:32] iz3man commented on #191
So maybe we can expect this in a update from Shelly.

[2020-03-01 22:21] InToSSH commented on #175
Hi, I have exactly the same problem, all Shelly 1s discovered via mDNS. I am on a plugin v1.6.0 and HA v0.106.2. Also those Shellies are missing RSSI value and I think also few other values. I know the Features list said that mDNS will have slower status update response than CoAP, but I don't know what to do to make CoAP work, or if adding the device directly via IP address will make it faster.

[2020-03-02 08:46] JamesT42 commented on #181
In the recent firmware they switched from showing reactive power to power factor.  Did they change the API also?

[2020-03-02 09:56] chemelli74 commented on #132
No update for 21 days, closing

Simone

[2020-03-02 09:56] #132 closed

[2020-03-02 11:34] vistalba commented on #204
I just created a new one to test.
I've to convert Wh to kWh (because shelly is reporting Wh. To show big values and calculate cost I need kWh).

This looks like it is working and I've just to switch the entity in utility_meter config.
But I want to show acual consumption too (as value & graph).

Like this:
![image](https://user-images.githubusercontent.com/12324196/75672872-f473fc80-5c81-11ea-8242

[2020-03-02 14:12] InToSSH commented on #158
@emnik I have ZyXEL Armor Z2, with OpenWRT FW on it and I have the same problem. I managed to make CoAP discovery work by adding host_ip, beacuse my HA is running in Docker on Debian VM which has multiple interfaces (LAN, IoT and NoT). I am not sure how CoAP works, but since it has direct access to the subnet where Shellies are, isn't it supposed to communicate directly with the devices, or use br

[2020-03-03 10:18] gogui63 commented on #199
Same issue with Shelly 2.5 on my roller.

Fully open but position is 50.
Position works great in Shelly app.

[2020-03-03 12:42] rgutialo commented on #200
Hi, I have the same problem as @NateLogan . I see that my total comsuption in shelly attribute is much less than the real one. How did you fix it?.

Thanks.

[2020-03-03 12:45] chemelli74 commented on #158
You got the point, it's not the router the issue, but the AP.
A lot of people usually have the device provided by the internet provider and this is a single device that is both a router and a AP.
So they write router but they mean router+AP ;-)

Simone

[2020-03-03 18:01] chemelli74 commented on #200
You need to wait for 1.7b1

Simone

[2020-03-03 21:02] InToSSH commented on #158
@chemelli74 yea, I realized that shortly after I posted that message, haha. Well that would mean that there is also some problem with my Unifi APs, I will take a look, but I thought they aren't supposed to  interrupt any traffic, they should pass it right through.

[2020-03-04 15:32] catalinbordan opened #207 "Release 0.1.7 beta1 bug: flip from unavailable to available"
Hello,

I have upgraded to 0.1.7 and I have a lot of error in logs and the sensors from shelly is fliping in loop from unavailable to available in a matters of some seconds.
Here are some printscrn. if you need more details please let me know because I don't know what to send.
![image](https://user-images.githubusercontent.com/52258507/75895106-d81cbf00-5e3d-11ea-8aa0-8a7b83563f42.png)

![image](h

[2020-03-04 22:35] chemelli74 opened #208 "0.1.7b1: log error"
Hi,

log shows this error quite often:

[code]

Simone

[2020-03-04 22:36] chemelli74 commented on #207
I have a issue with an automation that monitor "cloud connected" state: flip from connect to disconnected every few seconds.

Simone

[2020-03-04 22:54] hakana commented on #208
Fixed in 0.1.7.b2

[2020-03-05 09:32] chemelli74 commented on #188
Please update to 0.1.7b1 and recheck.

Simone

[2020-03-05 09:33] chemelli74 commented on #107
Please upgrade to 0.1.7b1 and recheck.

Simone

[2020-03-05 09:33] chemelli74 commented on #125
Please update to 0.1.7b1 and recheck.

Simone

[2020-03-05 14:54] colinfrei commented on #206
As far as I can tell, the state change doesn't actually wait for the button click, but listens for a state change of the button. Accordingly, it wouldn't be easy to figure out that a long press caused the state change.

An alternative I'm looking into now is using mqtt events. What would be nice was if it were easy to set up HA's mqtt on the shelly devices (as well as change the configuration in g

[2020-03-05 22:41] chemelli74 commented on #191
Please upgrade to 0.1.7b1 and recheck.

Simone

[2020-03-05 22:46] chemelli74 commented on #187
Please upgrade to 0.1.7b1 and recheck.

Simone

[2020-03-05 22:47] chemelli74 commented on #197
Please upgrade to 0.1.7b1 and recheck.

Simone

[2020-03-05 22:53] chemelli74 commented on #204
@vistalba, can you post the related part of your current config ?

Simone

[2020-03-05 22:56] chemelli74 commented on #181
Please upgrade to 0.1.7b1 and recheck.

Simone

[2020-03-06 01:00] Misiu commented on #195
@chemelli74 I was able to ad ShellyForHass using Configuration->Automations 🎉
Shelly Duo showed up on the Entitles list, but it took a while (I don't have the cloud enabled, maybe that's why).
I was able to add the entity to my view, I'm able to turn on/off the bulb, I can set the brightness, but setting color temperature doesn't work (at least for me)
When I turn off the bulb and move the brightn

[2020-03-06 01:02] Misiu opened #209 "Settings panel is too long in 0.1.7 beta 1"
The setting window is too long:
![image](https://user-images.githubusercontent.com/1741838/76040035-7ef08080-5f4e-11ea-8fe9-70565536d16f.png)
I had to zoom out to be able to see the `Submit` button

[2020-03-06 01:05] Misiu opened #210 "Can't edit settings in the integrations menu in 0.1.7 beta 1"
When adding ShellyForHass via Integration panel I can't update the setting (using cog icon in top right)
![image](https://user-images.githubusercontent.com/1741838/76040115-c8d96680-5f4e-11ea-96c3-78982f3d32d0.png)

After putting new values and hitting `Submit` the values aren't getting saved.

[2020-03-06 08:14] Misiu commented on #188
@chemelli74 I was able to successfully add integration using config flow, but I'm unable to change any options. More info here: https://github.com/StyraHem/ShellyForHASS/issues/210

[2020-03-06 08:33] petergebruers commented on #191
@chemelli74 big thanks! CoAP discovered these devices (see screenshot), the values make sense and match... I would, however, name the phases A, B and C instead of 1,2,3 to be consistent with the Shelly docs and (web) interface

<img width="458" alt="Screenshot 2020-03-06 at 09 21 49" src="https://user-images.githubusercontent.com/5297547/76065556-2e981380-5f8c-11ea-8689-a5cbc54c3956.png">

The swi

[2020-03-06 08:51] iz3man commented on #191
I'm still waiting for the 0.1.7 release before I install, so is it possible to not only see total consumption but also "last 24h". weekly. monthly and so? Or needs this to be handled by a counting automation?

[2020-03-06 09:33] chemelli74 commented on #188
I would say that we can close this issue and track bugs in new issues.

Simone

[2020-03-06 10:23] petergebruers commented on #191
@iz3man

AFAIK what you want is a feature of the Shelly Cloud, the device itself does not report day/week/...

See https://github.com/StyraHem/ShellyForHASS/issues/191#issuecomment-590870669 for output in JSON and coap, there is no such thing as day/week/...

So yeah, need to store the Wh values with timestamp and do the math.

Unless there is some (hidden) feature to get the numbers from the devi

[2020-03-06 11:09] helmi1987 commented on #187
Hello Simone

ich will test it this weekend.

Thanks for fixing

[2020-03-06 11:58] chemelli74 commented on #191
You need to use "utility_meter" from HA ;-)

Simone

[2020-03-06 12:10] iz3man commented on #191
@chemelli74 Could you please enlighten me? Never heard of. I will need to google it immediately. At the moment I'm using self written automation which is far from comfortable, and I'm not sure they are 100% correct either.

[2020-03-06 12:11] hakana commented on #191
https://www.home-assistant.io/integrations/utility_meter/

[2020-03-06 12:13] iz3man commented on #191
WOW. You're quicker than google :)
Thank you all. This totally went past me. Much appreciated ...

[2020-03-06 13:57] aleksandrov1995 commented on #107
Hello, sorry for the late feedback, i just updated and the voltage is now present. Thank you for you consideration to implement it.

[2020-03-06 13:57] #107 closed

[2020-03-06 19:04] #188 closed

[2020-03-06 21:20] helmi1987 commented on #187
Switch is showing but only in state on. Switch change will not triggert

[2020-03-08 15:39] dodg3r opened #211 "Rgbw2 doesnt work in 0.1.7 beta1"
Hi.
My hassio can´t find my rgbw2 shellys after upgrading to 0.1.7 beta1.

Do you want logfiles ?

[2020-03-08 15:46] dodg3r commented on #158
Hi.

Updated to 0.1.7 beta1 on my dev installation and got the same delays. Coap is working.

Should I start a new thread on this or what to do :)

[2020-03-08 16:18] SuperNeo84 opened #212 "Shelly 2.5 in Roller-Shutter Mode in HA doesn't appear properly"
hi,

i have a shelly 2.5 configured in Roller Shutter Mode and with a fisical button, i have performed the calibration on web interface of shelly. But in HA the control of shelly 2.5 still ramain inverted.

![image](https://user-images.githubusercontent.com/56050309/76166569-c732bd00-615f-11ea-93bc-d785bce78698.png)

![Shelly Switch](https://user-images.githubusercontent.com/56050309/76166686-ad45

[2020-03-08 16:29] chemelli74 commented on #212
Did you enable inver button in Shelly's app ?

Simone

[2020-03-08 16:35] SuperNeo84 commented on #212
No, beacuse, the fisical button works properly.

if i press down button, the cover be opening, and when i press up button the cover closing.

[2020-03-08 19:32] chemelli74 commented on #211
Yes please, but with debug enabled.

Simone

[2020-03-08 19:33] chemelli74 commented on #184
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-03-08 19:35] chemelli74 commented on #187
Please close this issue and open a new one.
Don't forget to attach debug log.

Thank you,

Simone

[2020-03-08 19:36] chemelli74 commented on #191
@jarnojlaine, @petergebruers, @iz3man please confirm issue is fixed in latest beta.

Thank you,

Simone

[2020-03-08 22:15] chemelli74 commented on #158
Issue is network related and not on ShellyForHASS code, as far as we know.

Simone

[2020-03-08 22:17] chemelli74 commented on #212
Please review your Shelly mobile app configuration and report back.

Are you refering to SHelly's app or HA or both ?

Simone

[2020-03-08 22:28] danygi79 commented on #181
With this version the voltage measurement is displayed, all the other values ​​are still missing.
On the other hand, the operation of all the switches has a delay in the display of about 10 seconds.

Daniele

[2020-03-09 00:26] petergebruers commented on #191
3EM power reporting is working on 0.1.7b2, I don' see any change with respect to naming of the devices (I suggested... I would, name the phases A, B and C instead of 1,2,3 to be consistent with the Shelly docs and (web) interface) but that is not too important and the switch still "jumps" between on and off of but I don't care about that bug. The main thing is I get power and energy reporting :)

[2020-03-09 00:43] hakana commented on #191
0.1.7.b2 is not released, see releases in github for latest release if not using HACS!

[2020-03-09 00:45] petergebruers commented on #191
I did notice something else but it might be related to hass 0.106.5 (but I don't see a similar report on their forum), I upgraded to this version a few days ago... Sometimes, briefly, all shelly 3EM sensors show "Unavailable". It looks a bit like the problem described in https://github.com/StyraHem/ShellyForHASS/issues/207 but in my case it only goes to Unavailable "in the blink of an eye", it too

[2020-03-09 00:47] petergebruers commented on #191
I already told you it was working on 0.1.7.b1 3 days ago, so I naturally assumed you were talking about the 0.1.7.b2 you mentioned on 'master' branch...

Don't you appreciate my feedback here?

[2020-03-09 06:21] dodg3r commented on #158
Ok. I thought it was strange that this happened for me when I updated to 0.1.7beta1.
I reverted back to 0.1.6 and now it works again.

[2020-03-09 06:35] ishalem opened #213 "Status delay"
I have shelly 1 installed and working perfectly, the problem with the Homeassistantconnection is that there is a delay (more than 30 sec) until the state is updated
this is a new issue, I didn't have it in the past

I use:
ShellyForHASS: 0.1.6
Home Assistant release with the issue: 0.106.5
Operating environment : docker on linux (ubuntu)

[2020-03-09 09:54] iz3man commented on #191
Hi Simone I wish I could. I'm using HACS, so don't see a way to test beta versions.

[2020-03-09 11:29] gaggio commented on #213
I can confirm the same behaviour, same versions as above, rasberry pi 3 (hass.io)

[2020-03-09 11:32] chemelli74 commented on #111
Please update to firmware 1.6.0 and recheck,

Simone

[2020-03-09 11:34] chemelli74 commented on #39
Please update to firmware 1.6.0 and to plugin 1.0.7b1 and recheck,

Simone

[2020-03-09 12:12] chemelli74 commented on #191
https://github.com/StyraHem/ShellyForHASS/wiki/FAQ5:-Enable-beta-in-HACS

Simone

[2020-03-09 13:18] dodg3r commented on #211
HI.

All of a sudden my rgbw2 units shows up and works. I dont know why.

Sorry for wasting your time :(

[2020-03-09 14:29] thehijacker opened #214 "v0.1.6: No discovery - always finds gateway IP"
Hello,

Just installed this addon. Having two Shelly 2.5 for shutters at home. Currently I have MQTT enabled on both but wanted to keep cloud. They are not detected. As far as I can see in debug log, it detects them but then queries them over gateway IP (192.168.64.1) and not by their actual IP address (192.168.64.40 and 192.168.64.41).

In configuration I only added shelly:

Any idea what is wron

[2020-03-09 14:36] iz3man commented on #191
Thanks Simone. You learn every day :)

After upgrading to 0.1.7b1 the 3EM showed up in integrations instantly. Added all to Lovelace, customized the naming, and this is what it looks like:

![image](https://user-images.githubusercontent.com/11553674/76223278-a16aee00-621b-11ea-93c8-c353780cdfa8.png)

Seems to work fine. Now I need to find out how to make it show kWh and then sum it all up and add

[2020-03-09 14:50] vistalba commented on #206
Using Shelly 1, 1pm, 2.5 and Dimmer and would also like  to use "longpush" events as trigger for some automations.

Example:
If light of Shelly is of and longpush event detected on this "Switch" then switch off (all) other lights.

[2020-03-09 18:14] genem2 commented on #39
I updated the RGBW2 to 1.6.0.
Works fine outside of HA. (Alexa, App, Browser)
Updated HA with 1.0.7b1.  The device is no longer being found.
Added:
[code]
but nothing's in the log file after another restart.
Did I configure logging correctly?

[2020-03-09 19:25] thehijacker commented on #214
Still trying to figure this out. Looking at CoAP traffic and its there. Just not pointing to correct IP. It always uses gateway IP. I tried every possible configuration parameter.

What could have cause this IP change? Why it is not reporting correct IP?

[2020-03-09 20:23] hakana commented on #214
Disable mDns discovery, that is what causes it to use the gateway IP.

[2020-03-09 20:28] thehijacker commented on #214
Even without mDns now it works perfectly (**discovery: CoAP-message**).

It was in fact the mikrotik hairpin nat rule. I changed it a bit and it still works. I now also added **mdns: false** to my configuration, just to make sure it keeps working. I will run this in parallel with MQTT. If all is working I will disable MQTT and maybe enable Cloud. Did not use it since MQTT was enabled, and frankly

[2020-03-09 20:31] Kranzy commented on #114
Does the latest firmware supporting transition between brightness allow us access to use the transition function in Home Assistant now??

`Dear all. Firmware 1.6 are released. Your devices will offer you update up to 2 hours.

Exclusions:
Shelly4pro and Door Sensor will receive update in few days.

Log changes:

New features:

•	Shelly3EM - MQTT Energy topics

•	Shelly DUO&Vintage Actions

•	Dimme

[2020-03-09 20:35] hakana commented on #114
Transition is not supported as Shelly devices not supporting it. I will check if I can find a solution later but it does not have highest priority.

[2020-03-09 20:35] thehijacker commented on #214
Spoke too soon. Done two HA restarts. Cover is not accessible.

![image](https://user-images.githubusercontent.com/13857043/76255053-cd06cc00-624d-11ea-8580-0a05b9aa3331.png)

mDns is disabled. Any other ideas?

[2020-03-09 20:38] Kranzy commented on #114
Is that including the 1.6 firmware. One of the new features is `Dimmer - transition time is valid when brightness is changed.`

[2020-03-09 20:40] hakana commented on #114
I have not checked that jet, but if it is supported for dimmer it is very nice

[2020-03-09 22:37] chemelli74 commented on #211
No problem, please close the issue

Simone

[2020-03-09 22:39] chemelli74 commented on #213
Please report how your devices are discovered

Simone

[2020-03-09 22:44] chemelli74 commented on #214
Please cose this issue and start a new one.
Maybe #207 applies for you as well.

Simone

[2020-03-09 22:45] chemelli74 commented on #209
Confirmed.

Simone

[2020-03-09 22:48] chemelli74 commented on #191
Go with “utility_meter”

The author is really great!

Simone

[2020-03-09 22:50] chemelli74 commented on #39
https://github.com/StyraHem/ShellyForHASS/wiki/FAQ4:-Enable-debug-log

Simone

[2020-03-09 22:54] hakana commented on #205
If you look in your dialog on the consumption attribute it is updated in 5 sec. So this is more like a bug in HA I think. Try to add the sensor in a card in lovelace. The delay of 5 sec is a bug in the Shelly FW.

![image](https://user-images.githubusercontent.com/1168654/76264148-33e1b080-6261-11ea-8804-84f29d793bbc.png)

![image](https://user-images.githubusercontent.com/1168654/76264173-45c3538

[2020-03-09 23:15] hakana commented on #203
Fixed in 0.1.7.b2, will be released in some days

[2020-03-10 00:24] genem2 commented on #39
Sorry I missed that.
There three lines are repeating in the log:

[code]

This is my config:

[code]

[2020-03-10 01:30] hakana commented on #39
Power sensor will be added in 0.1.7.b2

[2020-03-10 06:30] thehijacker commented on #214
Will close and keep any eye on suggested topic. Just now I am upgrading HA to 1.106.5.

[2020-03-10 06:30] #214 closed

[2020-03-10 06:46] #211 closed

[2020-03-10 06:51] dodg3r commented on #205
Hi.
Yes, I tried to explain that in the comment before :)
Even if I try to put it in a lovelace card it has the delays.

I think its strange that if I revert back to 0.1.6 beta 8 it works...

I have a drainpump in an automation so if the drainpump starts I will get a push notice.
The drainpump only runs for 15 secs and because of the delays I dont get the push after version 0.1.6 beta8

[2020-03-10 06:55] thehijacker commented on #207
Same issue I had is again not connected to HA or ShellyforHass addon. Its the damned hairpin NAT rule on my Mikrotik router. I redone it once again and disable the rule for UDP traffic (CoAP):

Issues was with calling URL http://192.168.64.40/settings . It used just for this URL my gateway IP http://192.168.64.1/settings which of course failed.

Having my mesh WiFi network (3 nodes) connected and

[2020-03-10 06:59] ishalem commented on #213
not sure what you mean.
all devices were added through the Shelly mobile app
and were discovered automatically by Homeassistantafter installing the ShellyForHass from HACS

[2020-03-10 09:42] chemelli74 commented on #213
Please check HA identities and there you'll find the discovery method I'm interested in.

Simone

[2020-03-10 09:45] gaggio commented on #213
mine has CoAP-discovery

[2020-03-10 09:47] ishalem commented on #213
CoAP-discovery

[2020-03-10 10:08] gaggio commented on #213
Actually I just connected another shelly (it is a 2.5) that shows the same behaviour but has been discovered by mDns.

[2020-03-10 11:29] vistalba opened #215 "[FR] allow to configure decimals in device config for other devices"
As described here with `power_decimals`: https://github.com/StyraHem/ShellyForHASS/issues/203

I like to "round" also the decimals of my temperature sensor to prevent from storing unnecessary values like this:

![image](https://user-images.githubusercontent.com/12324196/76307882-f5341080-62c9-11ea-8bdc-5b50ca69d114.png)

This is the teperature from my Shelly H&T. As you can see, it has a lot of di

[2020-03-10 15:44] chemelli74 opened #216 "0.1.7b1: firmware switch already exist"
1 shelly 2.5 out of 12 generate this issue at each reboot:

[code]

I cannot get rid of the firmware switch that is marked as "enabled".
Shelly was manually updated from WebUI.

Simone

[2020-03-10 15:50] chemelli74 opened #217 "0.1.7b1: Plug-S unconnected but still seen as active"
Seems that with latest beta, on top of the flip ( #207 ), when I unplug my Shelly's Plug-S system doesn't recognize that action.

Been attached to an iron, can happen that it is detached while there is still some consumption; this is reported as active after 1 hour, but obviously it's not:

![image](https://user-images.githubusercontent.com/57354320/76331121-00e5fe00-62ef-11ea-8adb-fd2e948781d8.pn

[2020-03-10 22:11] me1299 commented on #213
Same problem here with discover_by_ip mode.

[2020-03-11 07:34] chemelli74 commented on #213
Confimed on 0.1.7.b1 with CoAP Discovery.

Simone

[2020-03-11 20:57] me1299 commented on #213
If you need any more information please let me know. Right now my door sensor isn't working because toggle.light isn't working correctly because HA thinks the light status hasn't changed.

[2020-03-12 06:58] gurkburk76 opened #218 "Request: possibility to firmware update offline/battery devices"
Would it be possible to queue up a firmware upgrade to a device that only wakes up sometimes?
Like, i have a few shelly h&t stuffed away in hard to reach places that i don't really want to get to to update firmware :)

[2020-03-12 07:52] benv666 commented on #142
This morning updated all my shellies to v.1.6.0 (after HA got updated to 0.107.0b0), and while most shellies were fine there were at least 3 that had bouncing inputs.
After physicallly toggling the switch they seem fine again.
Note that they've been running stable (without bouncing) for quite a while on v1.5.9. I'm not sure whether it's an init thing in the ShellyForHASS module or on the shelly si

[2020-03-12 10:05] #191 closed

[2020-03-12 10:06] #187 closed

[2020-03-13 17:48] maartenvang opened #219 "turn_on() takes from 1 to 2 positional arguments but 3 were given when turning on Shelly Dimmer"
I have two Shelly Dimmer switches. They get detected just fine and show up in Lovelace with the correct state. I can turn off the dimmer with the switch in Lovelace. However, turning on a light with the toggle switch in lovelace does not work as expected. I get a toast message saying "turn_on() takes from 1 to 2 positional arguments but 3 were given".

The following shows up in my log file:
[code]

[2020-03-13 18:58] Sailorsbe opened #220 "How to get position value on shelly 2.5 as roller"
Hello
I'm newbie in hassio and ready to learn the system.
I have 3 Shelly 2.5 installed on different rollers. I can operate all of them with MQTT but prefer to do it with this user component.
For automation issues I want to have a value for the position of each of the rollers so I can use it as a condition in an automation rule. How can i do that? Thanks for the answer

[2020-03-13 21:39] maartenvang commented on #219
I have checked out the master branch just to check if 0.1.7-beta.2 fixes the issue and it did. Thank you for your efforts!

[2020-03-13 21:39] #219 closed

[2020-03-13 22:17] hakana commented on #219
Great!

[2020-03-13 22:18] hakana commented on #220
Have you tried, it should work like this.

[2020-03-13 23:10] Sailorsbe commented on #220
I tought to do it that way
<sensor:
  - platform: Shelly
    entity_id: "voletch"
    name: "Position"
    position_topic:??????????????
    unit_of_measurement: "%"
    icon: mdi:percent>
But I Don't know what to put on ????

[2020-03-13 23:55] hakana commented on #220
Please have a look at the readme file.
https://github.com/StyraHem/ShellyForHASS/blob/master/README.md

You should only add the shelly platform to config.yaml,
shelly:

[2020-03-13 23:55] #220 closed

[2020-03-14 08:39] chemelli74 commented on #208
Confirmed fixed in b2

[2020-03-14 08:39] #208 closed

[2020-03-14 08:40] chemelli74 commented on #207
@catalinbordan , please update to b2 and confirm fixed.
Here everything works fine with latest beta.

Simone

[2020-03-14 08:41] chemelli74 commented on #205
Latest beta fixed hte issue for me, no more than 5 sec to get the lovelace update.
@dodg3r, please check and confirm.

Simone

[2020-03-14 08:43] chemelli74 commented on #197
No update for 21 days from the user, closing.

Simone

[2020-03-14 08:43] #197 closed

[2020-03-14 08:44] chemelli74 commented on #181
@danygi79 please update to b2 and take a screenshot if something is still missing.

Simone

[2020-03-14 08:46] chemelli74 commented on #195
Please update to latest beta and recheck.
If you still have problems, open a new issue with all details.

Closing this one as support for Shelly Duo is implemented and device is detected.

Simone

[2020-03-14 08:46] #195 closed

[2020-03-14 08:46] vistalba commented on #205
@chemelli74 Any breaking change in the beta or is it easy to revert  back ?

[2020-03-14 08:47] chemelli74 commented on #175
Please update to latest beta and recheck.

Simone

[2020-03-14 08:48] chemelli74 commented on #125
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-03-14 08:50] chemelli74 commented on #142
Since the issue seems solve,d I'm going to close this issue.
If it will happen again, please open a new issue.

Simone

[2020-03-14 08:50] #142 closed

[2020-03-14 08:51] chemelli74 commented on #196
Please update to latest beta (0.1.7.b2) and recheck.

Simone

[2020-03-14 08:53] chemelli74 commented on #161
Please update to latest beta (0.1.7.b2) and to latest firmware (v1.6.0) and recheck.

Simone

[2020-03-14 08:54] chemelli74 commented on #212
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-03-14 08:56] chemelli74 commented on #213
@ishalem , @gaggio, @me1299 please update to latest beta (0.1.7.b2) and recheck.

Simone

[2020-03-14 08:57] chemelli74 commented on #216
Fixed in 0.1.7.b2

Simone

[2020-03-14 08:57] #216 closed

[2020-03-14 09:00] chemelli74 commented on #203
Please update to latest beta (0.1.7.b2) and recheck.

Simone

[2020-03-14 09:00] chemelli74 commented on #201
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-03-14 09:09] dodg3r commented on #205
YYEEESS, now it works :)

Great !

[2020-03-14 09:10] #205 closed

[2020-03-14 09:11] dodg3r commented on #158
In my case the delays is gone in beta2

[2020-03-14 09:18] dodg3r commented on #161
Hi.

In beta2 there is no delays. The switch entity changes the same second I press the button..

[2020-03-14 09:25] chemelli74 commented on #158
I'm going to close this issue.

If someone **with CoAP working** will have the same problem in future a new issue needs to be opened.

Simone

[2020-03-14 09:25] #158 closed

[2020-03-14 09:28] chemelli74 commented on #161
Thank you for feedback.

Simone

[2020-03-14 09:28] #161 closed

[2020-03-14 09:33] chemelli74 commented on #210
Please update to latest beta (0.1.7.b2) and recheck.

Simone

[2020-03-14 09:34] chemelli74 commented on #209
Please update to latest beta (0.1.7.b2) and recheck.

Simone

[2020-03-14 09:36] chemelli74 commented on #39
Please update to latest beta (0.1.7.b2) and recheck.

Simone

[2020-03-14 09:47] chemelli74 commented on #199
Hi all, just to inform that after 3 weeks of inactivities on old thread, I'll proceed to close them.
If later one someone verify that the issue is still there, a new issue need to be opened.

Thank you,

Simone

[2020-03-14 09:49] chemelli74 commented on #84
Please update to latest beta (0.1.7.b2) and latest firmware ( v1.6.0) and recheck.

Simone

[2020-03-14 10:14] chemelli74 commented on #114
No reference in official updated API docs.
Sorry.

Closing this issue as "missing in firmware". When and if this feature will be implemented, a new issue can be opened to add support in this plugin.

Simone

[2020-03-14 10:14] #114 closed

[2020-03-14 10:19] ishalem commented on #213
Is there a way to do it from HACS? or do I have to manually install?

On Sat, Mar 14, 2020 at 10:56 AM Simone Chemelli <notifications@github.com>
wrote:

[2020-03-14 10:26] chemelli74 commented on #213
https://github.com/StyraHem/ShellyForHASS/wiki/FAQ5:-Enable-beta-in-HACS

Simone

[2020-03-14 10:38] ishalem commented on #213
not fixes yet still not updated immediately - took ~1 min
I checked the discovery and now it says "CoAP-discovery, poll"

On Sat, Mar 14, 2020 at 12:26 PM Simone Chemelli <notifications@github.com>
wrote:

[2020-03-14 10:44] ishalem commented on #213
also when I click on the on/off inside HA its changing stage for a sec and
go back to the previous state but the actual state changes
e.g. turn on the light from off state in HA will turn the light on and the
button in Homeassistantwill move for a sec to on and get back to off for a
min until synced

On Sat, Mar 14, 2020 at 12:38 PM Ilan Shalem <ishalem@gmail.com> wrote:

[2020-03-14 12:50] gaggio commented on #213
Confirmed the same behaviour on 0.1.7.b2, approx. 1min to get status update.

[2020-03-14 13:56] xatr0z commented on #84
Udpated shelly to 1.60, the plugin to 0.1.7-beta.2 via HACS and restarted home assistant. After flipping the switch (in detached mode) nothing changes and still no events (when listening to *).

[2020-03-14 15:50] Misiu opened #221 "Shelly Duo - can't change color temperature"
When trying to change color temperature I get this error:
![image](https://user-images.githubusercontent.com/1741838/76685361-5124cf00-6613-11ea-853c-014b57624346.png)

I'm using ShellyForHass 0.1.7 beta 2

![image](https://user-images.githubusercontent.com/1741838/76685438-e45e0480-6613-11ea-9232-36955890bf0d.png)

[2020-03-14 15:55] Misiu commented on #209
@chemelli74 I just updated to 0.1.7.b2 and I have the exact same bug (the panel is still too long).
I have screen resolution 1680x1050.
If I change the zoom to 80% (in Chrome I see the submit button).

[2020-03-14 16:41] Misiu commented on #210
Sadly this still isn't working.
I've updated to the latest beta (0.1.7.b2), restarted Home Assistant couple of times, cleared the cache in the browser, even tried in Incognito mode, but I always get the same results.

[2020-03-14 20:07] me1299 commented on #213
I experience the same behavior. Switch a light and the status will revert until after some time HA catches up to the actual status.

[2020-03-14 20:09] me1299 commented on #221
Could very well be a bug in the firmware. The same problem is present when using MQTT.

[2020-03-14 20:33] Misiu commented on #221
@me1299 this is possible. Did you report this problem to Shelly via their Facebook profile? Maybe they don't know about this bug.

[2020-03-14 21:11] me1299 commented on #221
Their Facebook page says they are aware of the problem and will release a new firmware. They just released one a few days ago, but I don't think it fixed the issue.

[2020-03-14 22:44] Misiu commented on #221
could you post a link to that post? It will be useful.